/* Responsive css */

@media (max-width: 1440px) {
    .nav-header.fixed, .contact-now {
        width: 100%;
    }
}
/* Min-width: 1200px */
@media (min-width: 1200px) {
    .page-header:after {
        bottom: -80px;
    }
}

/* Min-width: 992px */
@media (max-width: 1024px) {
    .page-header:after {
        bottom: -16px;
    }

    .nav-header.fixed, .contact-now {
        width: 100%;
    }

    .head-msg h1 {
        font-size: 60px;
        line-height: 55px;
    }
}


/* Max-width: 990px */
@media (max-width: 990px) {
    .page-header {
        height: 700px;
    }
    .page-header:after {
        bottom: -9px;
    }

    .logo-blk a img {
        height: 35px;
    }

    .main-menu ul li>i {
        display: none;
    }

    .main-menu ul li a span {
        display: none;
    }

    .main-menu ul li a i {
        display: inline-block;
    }

    .main-menu ul li a.download-brochue {
        background-color: transparent;
        border: none;
        font-size: 16px;
    }

    .main-menu ul >li:not(:last-child) {
        margin-right: 0px;
    }

    .nav-header.fixed {
        padding: 10px 20px;
    }
    .nav-header.fixed .main-menu ul >li a.download-brochue {
        color: #86c02e;
    }

    .home-galle-inner {
        flex-direction: column-reverse;
        height: auto;
        margin-top: 35px;
        padding-right: 0;
    }

    .home-gallery-msg h3 {
        max-width: 100%;
    }

    .home-galleries {
        margin: 0;
        width: 100%;
    }
    .h-gallery-itm:nth-child(1) {
        background-size: 110% auto;
    }
    .h-gallery-itm {
        width: 100%;
        height: 0;
        padding-bottom: 54%;
        clear: both;
    }
    .h-gallery-itm.big, .h-gallery-itm.small {
        width: 100%;
    }

    .contact {
        padding-top: 60px;
        flex-direction: column-reverse;
    }
    .contact .gg-map {
        width: 100%;
        height: 500px;
        padding-bottom: 0;
        position: static;
    }
    .contact-frm{
        margin: 40pt 0 0;
        text-align: center;
        width: auto;
    }
    .contact-frm #contact_frm {
        margin: 40pt 0 5px;
        text-align: center;
    }

    footer {
        padding: 80pt 0 45pt;
    }
    .contact-box h2 {
        font-size: 22px;
    }
}

@media (max-width: 860px) {
    
}

@media (max-width: 768px) {
    .top-charming-msg,
    .transportation-msg {
        text-align: left;
    }
    
    .top-charming.anima .top-charming-msg h3,
    .transportation.anima .transportation-msg h3,
    .home-gallery.anima .home-gallery-msg h3,
    .contact .contact-frm h3 {
        font-size: 35px;
        line-height: 1.4;
    }

   
    .slide-itm .img {
        /* width: calc(100% + 30px); */
    }
    .slide-itm .slide-capt h3 {
        padding: 0 15px;
    }
    .proj-slider .owl-carousel .owl-nav .owl-prev img, .proj-slider .owl-carousel .owl-nav .owl-next img{
        width: 30px;
    }
    .proj-slider .owl-carousel .owl-nav.disabled {
        top: 40%;
        /* transform: translateY(-50%); */
    }

    .contact .gg-map {
        height: 400px;
    }
}
@media (max-width: 767px) {
    .slide-itm {
        width: 100%;
    }
}
@media (max-width: 520px) {
    body {
        font-size: 16px;
    }
    .nav-header {
        padding: 15px;
    }
    .head-msg h1 {
        font-size: 50px;
        line-height: 1.04;
    }
    
    .top-charming {
        padding-top: 20px;
    }
    .top-charming-msg h3{
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 35px;
        line-height: 1.4;
        text-align: left;
    }

    .transportation{
        padding-top: 0;
    }
    .transportation-msg {
        text-align: left;
    }
    .transportation-msg h3{
        font-size: 35px;
        line-height: 1.4;
        margin-top: 28px;
        margin-bottom: 14px;
    }
    .transportation-map {
        margin-top: 35px;
    }

    .home-gallery{
        padding-top: 10px;
    }
    .home-galle-inner {
        margin-top: 0;
    }
    .home-gallery-msg h3{
        font-size: 35px;
        line-height: 1.4;
        padding-top: 10px;
    }
    .contact-frm {
        margin: 20pt 0 0;
    }
    .contact-frm h3 {
        font-size: 35px;
    }
    #contact_frm button {
        margin: 30px 0 0;
    }

    .contact .gg-map {
        height: 300px;
    }

    footer {
        padding: 80pt 0 45pt;
    }
    .ft-inner{
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .license-box {
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .developed-by {
        justify-content: center;
    }

    #inf-content p {
        font-size: 14px;
    }
    #inf-content h3 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    /* .gm-style-iw {
        width: 250px !important;
    } */
    .head-msg h1 {
        font-size: 30px;
    }

    .top-charming.anima .top-charming-msg h3, 
    .transportation.anima .transportation-msg h3, 
    .home-gallery.anima .home-gallery-msg h3, 
    .contact .contact-frm h3 {
        font-size: 30px;
    }
}