/* Style css */

@font-face {
	font-family: 'Conv_Georgia-Bold';
	src: url('fonts/Georgia-Bold.eot');
	src: local('☺'), url('../fonts/Georgia-Bold.woff') format('woff'), url('../fonts/Georgia-Bold.ttf') format('truetype'), url('../fonts/Georgia-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Georgia';
	src: url('fonts/Georgia.eot');
	src: local('☺'), url('../fonts/Georgia.woff') format('woff'), url('../fonts/Georgia.ttf') format('truetype'), url('../fonts/Georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    line-height: 1.6;
    color: #7c8d94;
    background-color: #ccc;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Conv_Georgia",serif;
    font-weight: 500;
    line-height: 1.6;
}
ul{
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* Index css */
#main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}
/* Header */
.page-header{
    height: 0;
    background-size: 100%;
    padding-bottom: 55.5%;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
    border-bottom: 1px solid #f1f1f1;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 0;
    margin-top: 0;
    padding-bottom: 22.7%;
    background-image: url('../images/curve_header.png');
    pointer-events: none;
    bottom: -80px;
}

.head-msg {
    width: 100%;
    padding: 15px;
    color: #fff;
    max-width: 1000px;
    top: 238px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    /* -webkit-transform: translateX(-50%) translateY(-57%);
    -moz-transform: translateX(-50%) translateY(-57%);
    -o-transform: translateX(-50%) translateY(-57%); */
}
.head-msg h1 {
    font-size: 80px;
    line-height: 90px;
    text-align: center;
}

.nav-header {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 0 40px;
}
.nav-header .logo-blk .scroll-logo {
    display: none;
}
.nav-header.fixed {
    position: fixed;
    padding: 10px 40px;
    width: 1440px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
.nav-header.fixed .logo-blk .origin {
    display: none;
}
.nav-header.fixed .logo-blk .scroll-logo {
    display: inline-block;
}
.nav-header.fixed .logo-blk a img {
    height: 40px;
}
.nav-header.fixed .main-menu {
    color: #86c02e
}
.nav-header.fixed .main-menu ul >li a {
    color: #86c02e
}
.nav-header.fixed .main-menu ul >li a.download-brochue {
    color: #fff;
}
.logo-blk {
    float: left;
}
.logo-blk a {
    display: block;
    outline: none;
}
.logo-blk a img {
    height: 50px;
}

/* Main menu */
.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    color: #fff;
}

.main-menu ul >li{
    float: left;
}
.main-menu ul >li:not(:last-child) {
    margin-right: 30px;
}

.main-menu ul >li a {
    color: #fff;
    text-transform: uppercase;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 700;
}

.main-menu ul >li a i {
    display: none;
}
.main-menu ul >li a.download-brochue {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #86c02e;
    border-color: #86c02e;
    font-size: 12px;
    line-height: 16px;
}
.main-menu ul >li a.download-brochue:hover {
    background-color: #699724;
    border-color: #648f22;
}

/* Project slider */
.proj-slider{
    position: relative;
    background-color: #fff;
    padding-top: 50px;
}
.slide-itm{
    width: 701px;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.slide-itm .img {
    height: 0;
    padding-bottom: 66.4%;
    width: 100%;
    background-size: cover;
}
.slide-itm .slide-capt h3{
    color: #081f1d;
    font-weight: bold;
}

.proj-slider .owl-carousel .owl-nav.disabled {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    top: 232.5px;
}

.proj-slider .owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 100px 2px rgba(0,0,0,.41); */
}

.proj-slider .owl-carousel .owl-nav .owl-prev {
    left: 20px;
}

.proj-slider .owl-carousel .owl-nav .owl-next {
    right: 20px;
}


/* top-charming */
.top-charming{
    padding-top: 85px;
    background-color: #fff;
}
.top-charming .inner{
    position: relative;
    background-color: #f7f7f7;
}
.top-charming-msg{
    max-width: 900px;
    margin: 0 auto;
}
.top-charming-msg h3 {
    font-size: 55px;
    line-height: 70px;
    margin: 55px 0 20px;
    color: #081f1d;
}

#charming-slide{
    margin-top: 30px;
}
.charming-itm {
    background-size: cover;
    background-position: center;
    padding-bottom: 57.866666667%;
}

.charming-slider .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.charming-slider .owl-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 100%;
    background-color: transparent;
    margin: 0 5px;
}
.charming-slider .owl-dot.active{
    background-color: #fff;
}

/* transportation */
.transportation{
    padding-top: 85px;
    position: relative;
    background-color: #fff;
}
.transportation-msg{
    max-width: 700px;
    margin: 0 auto;
}
.transportation-msg h3 {
    font-size: 55px;
    line-height: 70px;
    color: #081f1d;
}
.transportation-msg p{
    font-size: 18px;
}
.transportation-msg p strong {
    display: block;
}
.transportation-map {
    width: 100%;
    padding-bottom: 72%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.noted {
    font-size: 18px;
    margin-top: 30px;
}

/* home-gallery */
.home-gallery {
    padding-top: 110px;
    background-color: #fff;
}
.home-galle-inner {
    padding-right: 30px;
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-galleries{
    margin: 0;
    margin-right: 20px;
    width: 100%;
}
.home-gallery-msg {
    max-width: 650px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
}
.home-gallery-msg h3 {
    max-width: 460px;
    font-size: 55px;
    line-height: 70px;
    text-align: left;
    color: #081f1d;
}
.h-gallery-itm{
    width: 19.5%;
    height: 547px;
    float: left;
    background-size: cover;
    margin-right: 1px;
    position: relative;
    color: #fff;
    counter-increment: customlistcounter;
}
.h-gallery-itm:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
.h-gallery-itm:after {
    content: "__" counters(customlistcounter, ".", decimal-leading-zero);
    font-weight: 700;
    width: 3em;
    position: absolute;
    bottom: 25px;
    right: 0;
    color: #fff;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.h-gallery-itm .name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    margin: 25px 25px 3px;
}
.h-gallery-itm .descript {
    margin: 0 25px 6px;
    font-size: 14px;
    line-height: 19px;
    position: relative;
}
.h-gallery-itm.small {
    width: 9.375%;
    transition: z-index .5s, transform .5s, width .5s;
}
.h-gallery-itm.small p {
    opacity: 0;
    transition: opacity .1s;
}

.h-gallery-itm.big {
    width: 59%;
    transition: z-index .5s, transform .5s, width .5s;
}
.h-gallery-itm:hover:before {
    transition: background 1s;
    background-color: transparent;
}
.h-gallery-itm:hover:after {
    content: "______" counters(customlistcounter, ".", decimal-leading-zero);
}

/* contact */
.contact {
    padding-top: 120px;
    flex-direction: row;
    background-color: #fff;
    display: flex;
}

.contact-frm{
    margin: 0;
    text-align: left;
    width: 44.38%;
}
.contact-frm h3 {
    margin-top: 0;
    color: #081f1d;
    font-size: 42px;
}
.contact-frm .description {
    font-weight: 500;
    font-size: 18px;
}
#contact_frm{
    margin: 45px 0 5px;
    text-align: left;
}
.form-group label:not(.chk-lbl) {
    display: none;
}
.form-group .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #9c9c9c;
    padding-left: 0;
    padding-right: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.6;
    color: #575757;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
}
.contact .contact-frm form .form-group+.form-group {
    margin: 40px 0 0;
}

.contact .contact-frm .form-group>p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.checkbox-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.chk-itm{
    font-size: 16px;
    min-width: 160px;
    text-align: left;
    flex: 1;
    margin-right: 15px;
    margin-top: 15px;
}
.chk-itm input[type="checkbox"]:not(checked) {
    position: absolute;
    left: -9999px;
}

.chk-itm input[type="checkbox"]:not(checked) + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.chk-itm .chk-lbl {
    font-size: 16px;
    line-height: 21px;
    color: #4a4a4a;
    font-weight: normal;
}

.chk-itm input[type="checkbox"]:not(checked)+label:before,
.chk-itm input[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #818181;
    background: #fff;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

.chk-itm input[type="checkbox"]:not(checked)+label:after,
.chk-itm input[type="checkbox"]:checked+label:after {
    content: '';
    background-image: url('../images/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    position: absolute;
    left: 0;
    width: 19px;
    height: 19px;
    font-size: 1.3em;
    line-height: .8;
    color: #25873a;
    border-color: #25873a;
    transition: all .2s;
}

.chk-itm input[type="checkbox"]:not(checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.chk-itm input[type="checkbox"]+label:hover {
    color: #25873a;
}
.chk-itm input[type="checkbox"]+label:hover:before {
    border-color: #25873a;
}
.chk-itm input[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

#contact_frm button {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin: 90px 0 0;
    padding: 10.5px 32px;
    min-width: 220px;
    min-height: 50px;
    color: #fff;
    background-color: #86c02e;
    border-color: #78ab29;
    display: inline-block;
    text-transform: uppercase;
}
#contact_frm button:hover {
    background-color: #699724;
    border-color: #557a1d;
}
.gg-map {
    padding-bottom: 49.5%;
    width: 50%;
    position: absolute;
    /* background-image: url('../images/gg-map.jpg'); */
    /* background-position: center center; */
    /* background-size: cover; */
    display: block;
    height: 0;
    right: 0;
}
#message_sign_up_success{
    margin-top: 24px;
    color: #28893d;
    width: 100%;
    opacity: 0;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    padding: 222px 0 44px 0;
    background-color: #25873a;
    color: #fff;
}
.ft-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.contact-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.contact-box h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
}
.contact-list {
    margin: 18px 0 0;
}
.contact-list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
}
.contact-list li i {
    font-size: 18px;
    color: #fff;
    width: 26px;
    text-align: left;
}
.contact-list li a {
    font-size: 14px;
    margin-left: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
}
.license-box {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: right;
}
.developed-by {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.developed-by>span {
    margin-right: 8px;
}
.copyright{
    margin-top: 5px;
    display: block;
}
footer:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 0;
    margin-top: 0;
    left: 0;
    top: -2px;
    background-image: url('../images/curve_footer.png');
    padding-bottom: 22.7%;
    pointer-events: none;
}

/* contact-now */
.contact-now {
    position: fixed;
    top: 50%;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    width: 1440px;
    /* z-index: 1; */
}
.contact-now.shw {
    display: flex;
}
.contact-now button {
    width: 165px;
    background-color: #86c02e;
    padding: 18px 30px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    transform: translateY(50%) rotate(-90deg) translateX(100%);
    transform-origin: 100% 100%;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    z-index: 1;
    outline: none;
}

/* Map infowindow */
.gm-style-iw {
    width: 300px !important;
}
#inf-content h3 {
    margin-top: 0;
    /* color: #277b3d; */
}
#inf-content p {
    color: #277b3d;
    font-size: 16px;
}
/* Animation scroll */

.head-msg h1{
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .3s;
    transform: translateX(-50px);
}
.head-msg.anima h1{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.proj-slider .slide-capt {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(50px);
}

.proj-slider.anima .slide-capt {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.top-charming .top-charming-msg h3 {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .1s;
    transform: translateX(-50px);
}

.top-charming.anima .top-charming-msg h3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.transportation .transportation-msg h3 {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .1s;
    transform: translateX(-50px);
}
.transportation .transportation-msg p {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .1s;
    transform: translateX(50px);
}
.transportation.anima .transportation-msg h3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.transportation.anima .transportation-msg p {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.transportation-note {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(-50px);
}
.transportation-note.anima {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.home-gallery .home-gallery-msg h3 {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(50px);
}
.home-gallery .home-gallery-msg p {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(-50px);
}

.home-gallery.anima .home-gallery-msg h3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.home-gallery.anima .home-gallery-msg p {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.contact .contact-frm h3 {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(50px);
}
.contact .contact-frm .description {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(-50px);
}

.contact #contact_frm .form-group:nth-child(1) {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    transform: translateX(50px);
}
.contact #contact_frm .form-group:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .2s;
    transform: translateX(50px);
}
.contact #contact_frm .form-group:nth-child(3) {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .4s;
    transform: translateX(50px);
}
.contact #contact_frm .form-group:nth-child(4) {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .5s;
    transform: translateX(50px);
}
.contact #contact_frm button {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out .8s;
    transform: translateX(-50px);
}

.contact.anima .contact-frm h3, .contact.anima .contact-frm .description,
.contact.anima #contact_frm .form-group:nth-child(1),
.contact.anima #contact_frm .form-group:nth-child(2),
.contact.anima #contact_frm .form-group:nth-child(3),
.contact.anima #contact_frm .form-group:nth-child(4),
.contact.anima #contact_frm button {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}