footer.footer
    .container
        .row
            .ft-col.logo-ft.col-md-3
                a.ft-logo-btn(href="index.html")
                    img(src="images/logo.png", alt="")
                h3.text-uppercase Lorem Ipsum is simply dummy text of the printing.
                p
                    span.ttl Mã số thuế:
                    span.val 231354421232
                p
                    span.ttl
                        | Địa chỉ: 
                    span.val 132 Cộng Hòa, phường 4, quận Tân Bình, Tp Hồ Chí Minh
                p
                    span.ttl 
                        | Điện thoại: 
                    a.val(href="tel:0978 275 605") 0978 275 605
                p
                    span.ttl
                        | Email: 
                    a.val(href="mailto:tangostore@gmail.com") tangostore@gmail.com
                p
                    span.ttl
                        | Thời gian làm việc: 
                    span.val 9:00 - 19:00 từ thứ hai đến chủ nhật 
            // END: Logo footer
            .ft-col.col-md-2.ft-menu
                h3.text-uppercase Chính sách
                ul
                    li
                        a(href="#") Giới thiệu
                    li
                        a(href="#") Chính sách bảo mật
                    li
                        a(href="#") Quy định chung
                    li
                        a(href="#") Chính sách giao hàng
            // END: Footer col
            .ft-col.col-md-2.ft-menu
                h3.text-uppercase Hỗ trợ khách hàng
                ul
                    li
                        a(href="#") Mua hàng trực tuyến
                    li
                        a(href="#") Hướng dẫn thanh toán
                    li
                        a(href="#") Bảo hành, đổi trả
                    li
                        a(href="#") Liên hệ
            // END: Footer col
            .ft-col.col-md-2.ft-menu
                h3.text-uppercase Thông tin khuyến mãi
                ul
                    li
                        a(href="#") Sản phẩm bán chạy
                    li
                        a(href="#") Sản phẩm khuyến mãi
                    li
                        a(href="#") Sản phẩm hot deal
            // END: Footer col
            .ft-col.col-md-3.ft-menu
                h3.text-uppercase Dịch vụ
                ul
                    li
                        a(href="#") Xây dựng cấu hình
                    li
                        a(href="#") Yêu cầu báo giá
                    li
                        a(href="#") Lắp đặt camera
                .social-link
                    a(href="#")
                        i.fa.fa-facebook-official
                        span Facebook
                    a(href="#")
                        i.fa.fa-youtube
                        span Youtube
                    a(href="#")
                        i.fa.fa-twitter-square
                        span Twitter
            // END: Footer col
.copyright
    .container
        p 
            | Copyright &copy; 2017,
            a(href="#") Smart DigiTech
            |. All Rights Reserved
        span Made by MrP

.compare-popup.fix-popup
    a(href="compare-prod.html")
        i.fa.fa-exchange
        span 2
.wish-popup.fix-popup
    a(href="wishlist.html")
        i.fa.fa-heart
        span 2
.cart-popup.fix-popup
    a(href="javascript:;")
        i.fa.fa-shopping-cart
        span 2
.scroll-top
    .scroll-inner
        i.fa.fa-angle-up