header
    .container
        .top-header.clearfix
            .row
                .logo-blk.col-md-6
                    a(href="index.html")
                        img(src="images/logo.png", alt="")
                    // END: Logo
                    .main-menu-blk
                        include main-menu.jade
                .header-right.col-md-6
                    a.right-mobile-btn(href="javascript:;")
                    .right-head-inner
                        .right-menu
                            ul
                                li
                                    a.build-pc-btn(href="#") Gói combo
                                li
                                    a.build-pc-btn(href="#") Xây dựng cấu hình
                                li
                                    a.build-pc-btn(href="#") Lắp đặt camera
                                li
                                    a.cart-btn.search-btn(href="javascript:;")
                                        i.fa.fa-search
                                li
                                    a.cart-btn(href="cart.html")
                                        i.fa.fa-shopping-cart
                                        span 2
                                li
                                    a.login-btn(href="#") Tài khoản
                        // END: Right menu
                        .search-blk
                            .container
                                .search-frm
                                    input(type="text", placeholder="Nhập từ khóa cần tìm...")
                                    button.close-search
                                        i.fa.fa-close
                        // END: Search block