.main-menu
    a.dropdown-btn(href="javascript:;")
        i.fa.fa-th 
        span Danh mục sản phẩm
    .menu-content
        .menu-inner
            ul.menu-list
                li
                    a.menu-itm.mainboard(href="#")
                        span Linh kiện máy tính
                        i.fa.fa-angle-right
                    .sub-menu.clearfix
                        .sub-itm.s-col-5
                            .sub-head
                                p Mainboard
                            .sub-list
                                ul
                                    li
                                        a(href="#") Mainboard AMD
                                    li
                                        a(href="#") Mainboard Intel
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p CPU
                            .sub-list
                                ul
                                    li
                                        a(href="#") CPU AMD
                                    li
                                        a(href="#") CPU Intel
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p RAM
                            .sub-list
                                ul
                                    li
                                        a(href="#") RAM Corsair
                                    li
                                        a(href="#") RAM GSkill
                                    li
                                        a(href="#") RAM Kingmax
                                    li
                                        a(href="#") RAM Kingston
                                    li
                                        a(href="#") RAM Axpro
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p VGA
                            .sub-list
                                ul
                                    li
                                        a(href="#") VGA Gigabyte
                                    li
                                        a(href="#") VGA Asus
                                    li
                                        a(href="#") VGA MSI
                                    li
                                        a(href="#") VGA Zotac
                                    li
                                        a(href="#") VGA Quadro
                                    li
                                        a(href="#") VGA EVGA
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p LCD
                            .sub-list
                                ul
                                    li
                                        a(href="#") LG
                                    li
                                        a(href="#") Samsung
                                    li
                                        a(href="#") Dell
                                    li
                                        a(href="#") HP
                                    li
                                        a(href="#") Viewsonic
                                    li
                                        a(href="#") Asus
                                    li
                                        a(href="#") Lenovo
                                    li
                                        a(href="#") BenQ
                                    li
                                        a(href="#") Philips
                                    li
                                        a(href="#") AOC
                                    li
                                        a(href="#") Acer
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p SSD
                            .sub-list
                                ul
                                    li
                                        a(href="#") Samsung
                                    li
                                        a(href="#") Kingston
                                    li
                                        a(href="#") Western Digital
                                    li
                                        a(href="#") Intel
                                    li
                                        a(href="#") Plextor
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p HDD
                            .sub-list
                                ul
                                    li
                                        a(href="#") HDD Desktop
                                    li
                                        a(href="#") HDD Laptop
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p PSU
                            .sub-list
                                ul
                                    li
                                        a(href="#") Corsair
                                    li
                                        a(href="#") Cooler Master
                                    li
                                        a(href="#") Seasonic
                                    li
                                        a(href="#") Thermaltake
                                    li
                                        a(href="#") Aerocool
                                    li
                                        a(href="#") Antec
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p Case
                            .sub-list
                                ul
                                    li
                                        a(href="#") Corsair
                                    li
                                        a(href="#") Cooler Master
                                    li
                                        a(href="#") Deepcool
                                    li
                                        a(href="#") Thermaltake
                                    li
                                        a(href="#") Aerocool
                                    li
                                        a(href="#") NZXT
                                    li
                                        a(href="#") Cougar
                                    li
                                        a(href="#") Phanteks
                                    li
                                        a(href="#") Inwin
                                    li
                                        a(href="#") Segotep
                                    li
                                        a(href="#") Custom case
                        // END: Sub item
                        .sub-itm.s-col-5
                            .sub-head
                                p Bàn phím - chuột
                            .sub-list
                                ul
                                    li
                                        a(href="#") Chuột máy tíng
                                    li
                                        a(href="#") Bàn phím máy tính
                                    li
                                        a(href="#") Combo 
                        // END: Sub item
                li
                    a.menu-itm.camera(href="#")
                        span Camera
                        i.fa.fa-angle-right
                    .sub-menu.clearfix
                        .sub-itm.s-col-4
                            .sub-head
                                p Camera theo hãng
                            .sub-list
                                ul
                                    li
                                        a(href="#") Camera Hikvision
                                    li
                                        a(href="#") Camera Dahua
                                    li
                                        a(href="#") Camera Vantech
                                    li
                                        a(href="#") Camera Samtech
                                    li
                                        a(href="#") Camera Vicom
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Đầu ghi hình KTS
                            .sub-list
                                ul
                                    li
                                        a(href="#") Đầu ghi hình KTS Hikvision
                                    li
                                        a(href="#") Đầu ghi hình KTS Dahua
                                    li
                                        a(href="#") Đầu ghi hình KTS Vantech
                                    li
                                        a(href="#") Đầu ghi hình KTS Samtech
                                    li
                                        a(href="#") Đầu ghi hình KTS Vicom
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Đầu ghi HDSDI
                            .sub-list
                                ul
                                    li
                                        a(href="#") Đầu ghi HDSDI Abell
                                    li
                                        a(href="#") Đầu ghi HDSDI Dahua
                                    li
                                        a(href="#") Đầu ghi HDSDI Vantech
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Thiết bị khác
                            .sub-list
                                ul
                                    li
                                        a(href="#") Ổ cứng camera
                                    li
                                        a(href="#") Báo động chống trộm
                                    li
                                        a(href="#") Bộ đàm
                                    li
                                        a(href="#") Phụ kiện camera
                                    li
                                        a(href="#") Gói lắp đặt camera
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Camera quan sát
                            .sub-list
                                ul
                                    li
                                        a(href="#") Camera quan sát trong nhà
                                    li
                                        a(href="#") Camera quan sát ngoài trời
                                    li
                                        a(href="#") Camera IP
                                    li
                                        a(href="#") Camera toàn cảnh
                                    li
                                        a(href="#") Camera ngụy trang
                                    li
                                        a(href="#") Camera HDSDI
                                    li
                                        a(href="#") Camera HD - CVI
                                    li
                                        a(href="#") Camera siêu zoom
                                    li
                                        a(href="#") Camera AHD
                                    li
                                        a(href="#") Camera không dây
                                    li
                                        a(href="#") Camera HD - TVI
                                    li
                                        a(href="#") Camera hành trình
                        // END: Sub item
                li
                    a.menu-itm.pc(href="#")
                        span Máy tính - Máy chủ
                        i.fa.fa-angle-right
                    .sub-menu.clearfix
                        .sub-itm.s-col-4
                            .sub-head
                                p Máy tính All-in-one
                            .sub-list
                                ul
                                    li
                                        a(href="#") All in one Dell
                                    li
                                        a(href="#") All in one HP
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Máy chủ - Linh kiện
                            .sub-list
                                ul
                                    li
                                        a(href="#") Máy chủ
                                    li
                                        a(href="#") Linh kiện máy chủ
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Máy trạm - Workstation
                            .sub-list
                                ul
                                    li
                                        a(href="#") HP Workstation
                                    li
                                        a(href="#") Dell Workstation
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Máy tính lắp ráp
                            .sub-list
                                ul
                                    li
                                        a(href="#") Máy tính chơi game
                                    li
                                        a(href="#") Máy tính văn phòng
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Máy tính đồng bộ
                            .sub-list
                                ul
                                    li
                                        a(href="#") HP
                                    li
                                        a(href="#") Dell
                                    li
                                        a(href="#") Acer
                                    li
                                        a(href="#") IBM
                                    li
                                        a(href="#") Asus
                        // END: Sub item
                li
                    a.menu-itm.game-gear(href="#")
                        span Gaming gear
                        i.fa.fa-angle-right
                    .sub-menu.clearfix
                        .sub-itm.s-col-4
                            .sub-head
                                p Bàn phím chơi game
                            .sub-list
                                ul
                                    li
                                        a(href="#") Bàn phím chơi game Corsair
                                    li
                                        a(href="#") Bàn phím chơi game Razer
                                    li
                                        a(href="#") Bàn phím chơi game Steelseries
                                    li
                                        a(href="#") Bàn phím chơi game Gigabyte Aorus
                                    li
                                        a(href="#") Bàn phím chơi game Cooler Master
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Chuột chơi game
                            .sub-list
                                ul
                                    li
                                        a(href="#") Chuột chơi game Corsair
                                    li
                                        a(href="#") Chuột chơi game Razer
                                    li
                                        a(href="#") Chuột chơi game Steelseries
                                    li
                                        a(href="#") Chuột chơi game Gigabyte Aorus
                                    li
                                        a(href="#") Chuột chơi game Logitech
                                    li
                                        a(href="#") Chuột chơi game Asus
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Tai nghe chơi game
                            .sub-list
                                ul
                                    li
                                        a(href="#") Tai nghe chơi game Corsair
                                    li
                                        a(href="#") Tai nghe chơi game Razer
                                    li
                                        a(href="#") Tai nghe chơi game Steelseries
                                    li
                                        a(href="#") Tai nghe chơi game Gigabyte Aorus
                                    li
                                        a(href="#") Tai nghe chơi game Logitech
                                    li
                                        a(href="#") Tai nghe chơi game Asus
                                    li
                                        a(href="#") Tai nghe chơi game Kingston HyperX
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Ghế chơi game
                            .sub-list
                                ul
                                    li
                                        a(href="#") Ghế chơi game DXRacer
                                    li
                                        a(href="#") Ghế chơi game AKRacer
                                    li
                                        a(href="#") Ghế chơi game Corsair
                                    li
                                        a(href="#") Ghế chơi game Aerocool
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Phụ kiện chơi game
                            .sub-list
                                ul
                                    li
                                        a(href="#") Giá treo tai nghe
                                    li
                                        a(href="#") Keycap
                                    li
                                        a(href="#") Keypuller
                                    li
                                        a(href="#") Cáp kết nối
                        // END: Sub item
                li
                    a.menu-itm.cooling(href="#")
                        span Tản nhiệt
                        i.fa.fa-angle-right
                    .sub-menu.clearfix
                        .sub-itm.s-col-4
                            .sub-head
                                p Tản nhiệt nước
                            .sub-list
                                ul
                                    li
                                        a(href="#") Tản nhiệt nước Corsair
                                    li
                                        a(href="#") Tản nhiệt nước Custom
                                    li
                                        a(href="#") Tản nhiệt nước Thermaltake
                                    li
                                        a(href="#") Tản nhiệt nước NZXT
                                    li
                                        a(href="#") Tản nhiệt nước Deepcool
                                    li
                                        a(href="#") Tản nhiệt nước Cooler Master
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Tản nhiệt khí
                            .sub-list
                                ul
                                    li
                                        a(href="#") Tản nhiệt khí Corsair
                                    li
                                        a(href="#") Tản nhiệt khí Thermaltake
                                    li
                                        a(href="#") Tản nhiệt khí NZXT
                                    li
                                        a(href="#") Tản nhiệt khí Deepcool
                                    li
                                        a(href="#") Tản nhiệt khí Cooler Master
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Quạt tản nhiệt
                            .sub-list
                                ul
                                    li
                                        a(href="#") Quạt tản nhiệt Corsair
                                    li
                                        a(href="#") Quạt tản nhiệt NZXT
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Linh kiện khác
                            .sub-list
                                ul
                                    li
                                        a(href="#") Led RGB
                                    li
                                        a(href="#") Cáp nguồn nối dài bọc lưới
                                    li
                                        a(href="#") Giá đỡ VGA
                                    li
                                        a(href="#") Keo tản nhiệt
                        // END: Sub item
                li
                    a.menu-itm.network(href="#")
                        span Thiết bị mạng
                        i.fa.fa-angle-right
                    .sub-menu.clearfix
                        .sub-itm.s-col-4
                            .sub-head
                                p Thiết bị phát wifi
                            .sub-list
                                ul
                                    li
                                        a(href="#") Tenda
                                    li
                                        a(href="#") TPLink
                                    li
                                        a(href="#") Asus
                                    li
                                        a(href="#") Lynksys
                                    li
                                        a(href="#") Ubiquiti
                        // END: Sub item
                        .sub-itm.s-col-4
                            .sub-head
                                p Thiết bị chia mạng - Switch
                            .sub-list
                                ul
                                    li
                                        a(href="#") Switch Cisco
                                    li
                                        a(href="#") Switch TPLink
                                    li
                                        a(href="#") Switch DLink
                                    li
                                        a(href="#") Switch Lynksys
                                    li
                                        a(href="#") Switch Tenda
                        // END: Sub item
                li
                    a.menu-itm.office(href="#")
                        span Thiết bị văn phòng
// END: Main menu