block vars
    title Home
    showTop false
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
    //<![endif]
    head
        meta(charset="utf-8")
        title=title
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        //-- Call font
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese", rel="stylesheet")
        link(type="image/x-icon", href="icons/favicon.ico", rel="shortcut icon")
        link(href="css/style.css", rel="stylesheet")
        //--script(src="js/modernizr.js")
    body
        include ../includes/header.jade
        section.main
            block main
        include ../includes/footer.jade
        include ../includes/scripts.jade
