/*
 *
 * Home css
 *
*/ 


// Home top header
.h-t-content {
    text-align: center;
    a {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        .icon-serv {
            display: inline-block;
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
            background-size: 45px;
            margin-right: 10px;
            &.quality {
                background-image: url('../images/icons/quality.png');
            }
            &.maintain {
                background-image: url('../images/icons/wrench.png');
            }
            &.shipping {
                background-image: url('../images/icons/truck.png');
            }
            &.return {
                background-image: url('../images/icons/return.png');
            }
        }
        .serv-ct {
            color: @green;
            text-transform: uppercase;
        }
    }
}


// Main slider
.main-slider {
    margin-bottom: 30px;
}
.carousel-item {
    a {
        display: block;
    }
}


// Promotion product
.promo-blk, .pc-blk, .camera-blk {
    margin-bottom: 50px;
}
.tab-filter {
    margin-bottom: 30px;
    margin-top: 15px;
    .left-paging {
        width: 50%;
        float: left;
    }
    .right-filter {
        width: 50%;
        float: right;
        text-align: right;

        select {
            display: inline-block;
            margin-left: 10px;
            height: 32px;
            min-width: 180px;
            padding: 0 10px;
            border: 1px solid @grey;
            border-radius: 3px;
        }
    }

    .left-paging {
        button {
            display: inline-block;
            border: none;
            outline: none;
            height: 32px;
            padding: 0 15px;
            background-color: @blue;
            color: #fff;
            cursor: pointer;
            border-radius: 3px;
            &.disabled {
                background-color: lighten(@grey, 10%);
                pointer-events: none;
            }
        }

        .page-numb {
            display: inline-block;
            height: 32px;
            width: 80px;
            margin: 0 15px;
            text-align: center;
            line-height: 32px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
    }
}

// Product item
.prod-itm {
    // max-width: 20%;
    margin-bottom: 30px;
    a{
        position: relative;
        display: block;
        &:before, &:after {
            content: '';
            position: absolute;
            background-color: @green;
            width: 2px;
            display: block;
            .transition(all .4s ease);
        }
        &:before {
            top: 0;
            left: 0;
            height: 0;
        }
        &:after {
            bottom: 0;
            right: 0;
            height: 0;
        }
        &:hover {
            &:after, &:before {
                height: 100%;
            }
            .prod-itm-ct {
                &:after, &:before {
                    width: 100%;
                }
            }
            .prod-func {
                z-index: 100;
                opacity: 1;
                visibility: visible;
                .transform(translateY(-50%));
            }
        }
    }

    .prod-itm-ct {
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            background-color: @green;
            height: 2px;
            position: absolute;
            .transition(all .4s ease);
            // opacity: 1;
        }
        &:before {
            top: 0;
            left: 0;
            width: 0;
        }
        &:after {
            bottom: 0;
            right: 0;
            width: 0;
        }
    }

    .km-block {
        position: absolute;
        right: 0;
        top: 15px;
        color: #fff;
        p {
            margin-bottom: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 5px 8px;
            span {
                font-size: 12px;
            }
            i {
                margin-right: 10px;
            }
            &.has-gift {
                background-color: @blue;
            }
            &.has-increase {
                background-color: @green;
            }
        }
    }

    .prod-img {
        padding: 15px;
        img {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .prod-capt {
        text-align: center;
        // background-color: rgba(98,171,0,0.7);
        // background: -moz-linear-gradient(-45deg, rgba(98,171,0,0.7) 0%, rgba(100,172,3,0.7) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(-45deg, rgba(98,171,0,0.7) 0%,rgba(100,172,3,0.7) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(135deg, rgba(98,171,0,0.7) 0%,rgba(100,172,3,0.7) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b362ab00', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        padding: 15px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        h3 {
            min-height: 50px;
            font-size: 14px;
            margin-bottom: 10px;
            color: #444;
        }
        .price {
            color: @blue;
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 600;
            &.price-down {
                .old {
                    font-size: 12px;
                    color: #000;
                    text-decoration: line-through; 
                    margin-right: 25px;
                }
                .new {
                    font-size: 18px;
                    color: @red;
                }
            }
        }
    }

    .prod-func {
        // display: none;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        text-align: center;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        .transform(translateY(-80%));
        .transition(all .4s ease .1s);
        button {
            display: inline-block;
            border-radius: 3px;
            background-color: #bbb;
            border: none;
            color: #fff;
            outline: none;
            width: 48px;
            height: 48px;
            text-align: center;
            cursor: pointer;
            margin-right: 15px;
            .transition(all .4s ease);
            &:hover {
                &.add-cart {
                    background-color: @blue;
                }
                &.add-wish {
                    background-color: @red;
                }
                &.add-compare {
                    background-color: @green;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

}

// Brand slider
.brand-slide {
    // margin-bottom: 50px;
    padding: 25px 0px;
    position: relative;
    background-color: #f5f5f5;
    .owl-carousel {
        .owl-item {
            text-align: center;
            img {
                width: 100px;
                margin: 0 auto;
            }
        }
    }
}
.owl-nav {
    img {
        width: 30px;
    }
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    .transform(translateY(-50%));
    z-index: 500;
}
.owl-next {
    right: 0;
}

// Tab block title
.mobile-blk-ttl {
    position: absolute;
    left: 0;
    top: 50%;
    .transform(translateY(-50%));
    a {
        display: inline-block;
    }
}
.blk-tab {
    position: relative;
    .nav {
        justify-content: flex-end;
    }
}