/*
 *
 * Product list css
 *
*/ 

.product-list-content {
    margin-bottom: 50px;
}

.prod-cate {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}

.cate-list {
    float: left;
    .ttl {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        margin-right: 10px;
    }
    .cate-slt {
        display: inline-block;
        padding: 0 5px;
        height: 45px;
        border: 1px solid #ddd;
        border-radius: 3px;
        &:focus, &:active {
            border-color: @blue;
        }
    }
}

.filter-blk {
    float: right;
}

.filter-inner {
    >.btn {
        height: 45px;
        padding: 0 15px;
        line-height: 45px;
    }
    .filt-ct {
        // padding: 10px;
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 500;
        width: 50%;
        min-height: 300px;
        right: 0;
        top: 58px;
        border: 1px solid #ddd;
        border-radius: 3px;
        .box-shadow(1px 1px 2px 0px rgba(0,0,0,0.2));
        &.shw {
            display: block;
        }
        .filt-blk {
            width: 50%;
            float: left;
            min-height: 270px;
        }
    }
    .filt-ct-inner {
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            right: 40px;
            width: 0;
            height: 0;
            border-style: solid;
        }
        &:before {
            top: -20px;
            border-color: transparent transparent #ddd transparent;
            border-width: 10px;
        }
        &:after {
            top: -18px;
            border-color: transparent transparent #fff transparent;
            border-width: 10px;
        }
    }
    .ct-inner {
        height: 540px;
        overflow-y: auto;
    }
    .filt-ft {
        padding: 10px;
        background-color: #ddd;
        .btn {
            margin-left: 15px;
        }
    }
}

.filt-blk {
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    .filt-ttl {
        margin-bottom: 10px;
        color: @blue;
        border-bottom: 1px solid @blue;
        padding-bottom: 10px;
    }
}

.filt-el {
    a{
        position: relative;
        display: block;
        height: 32px;
        margin-bottom: 8px;
        padding-left: 30px;
        line-height: 32px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            .transform(translateY(-50%));
            height: 20px;
            width: 20px;
            border: 2px solid #d6d4d4;
            // border-radius: 3px;
            background-color: #fff;
        }
        &:after {
            content: '';
            background-image: url('../images/check.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 13px;
            display: none;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            .transform(translateY(-50%));
        }
        &:hover {
            color: @blue;
            &:before {
                border-color: @blue;
            }
        }
        &.active {
            color: @blue;
            &:before {
                border-color: @blue;
                background-color: @blue;
            }
            &:after {
                display: block;
            }
        }
    }
}

// Grid product
.grid-head {
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    h3 {
        float: left;
        line-height: 45px;
        font-size: 18px;
    }

    .grid-head-ct {
        float: right;
        select {
            display: inline-block;
            margin: 0 15px;
            height: 45px;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            outline: none;
            padding: 0 5px;
            &:focus {
                border-color: @blue;
            }
        }
    }

}
.paging {
    float: right;
    a {
        display: inline-block;
        height: 45px;
        width: 45px;
        background-color: @blue;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        line-height: 45px;
        font-size: 18px;
        &:hover {
            background-color: darken(@blue, 5%);
        }
        &.disabled {
            pointer-events: none;
            background-color: #d6d4d4;
        }
        &.prev-btn {
            margin-left: 15px;
        }
    }

    input {
        display: inline-block;
        height: 45px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        width: 60px;
        margin: 0 15px;
        text-align: center;
        font-weight: 600;
        &:focus {
            border-color: @blue;
        }
    }
}

// Grid list
.grid-itm {
    margin-bottom: 30px;
    position: relative;
    // .transition(all .4s ease);
    cursor: pointer;
    &:hover {
        .prod-func{
            left: 15px;
            z-index: 100;
            opacity: 1;
            visibility: visible;
        }
        // box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }
    .km-blk {
        position: absolute;
        right: 15px;
        top: 15px;
        p {
            color: #fff;
            padding: 5px;
            i {
                margin-right: 5px;
            }
        }
        .has-gift {
            background-color: @green;
        }
        .has-increase {
            background-color: @blue;
        }
        .out-stock {
            background-color: @red;
        }
    }
    .prod-func {
        position: absolute;
        width: 45px;
        left: -15px;
        top: 100px;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        .transition(all .3s ease);
        a {
            display: block;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            background-color: @red;
            color: #fff;
            margin-bottom: 5px;
            &:hover {
                background-color: darken(@red, 5%);
            }
        }
    }
    .prod-img {
        padding: 15px;
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }

    .prod-capt {
        border-bottom: 1px solid #b3b2b2;
        margin-bottom: 15px;
        .prod-ttl {
            font-size: 18px;
            min-height: 45px;
            margin-bottom: 10px;
        }
        .prod-code {
            color: #b3b2b2;
        }

        .brief-info {
            border-top: 1px solid #b3b2b2;
            padding-top: 10px;
        }
        .price{
            color: @blue;
            font-weight: 600;
            font-size: 17px;
            &.decrease  {
                span {
                    display: inline-block;
                    margin: 0 15px;
                }
                .old {
                    text-decoration: line-through;
                    color: #b3b2b2;
                    font-size: 14px;
                }
                .new {
                    font-size: 18px;
                    color: @red;
                }
            }
        }
    }
}

.grid-itm-inner {
    .btn {
        margin-bottom: 15px;
    }
}