/*
 *
 * Product detail page
 *
*/ 

.prod-detail {
    margin: 50px 0;
}

.prod-gallery {
    padding: 15px;
    .lSSlideWrapper {
        // border: 2px solid #b3b2b2;
        border-radius: 3px;
    }
    #imageGallery {
        height: auto !important;
        li {
            text-align: center;
        }
        img {
            width: 80%;
            margin: 0 auto;
        }
    }

    .lSGallery {
        li {
            border: 1px solid #b3b2b2;
            border-radius: 3px;
            padding: 5px;
            &.active {
                border-radius: 3px;
            }
        }
    }

    .lSAction > a {
        background-image: none;
        background-size: 32px;
        background-position: center;
        &.lSNext {
            background-image: url('../images/right-arrow.png');
        }
        &.lSPrev {
            background-image: url('../images/left-arrow.png');
        }
    }
}

.head-intro {
    border-bottom: 1px solid #b3b2b2;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    .prod-name {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .prod-code {
        color: #b3b2b2;
    }
    .add-wish {
        display: block;
        color: @red;
        position: absolute;
        right: 0;
        top: 50%;
        .transform(translateY(-50%));
        i {
            font-size: 20px;
        }
    }
}

.intro-content {
    border-bottom: 1px solid #b3b2b2;
}
.content-itm {
    >p {
        display: inline-block;
        margin-right: 50px;
        .ttl {
            display: inline-block;
            min-width: 70px;
            margin-right: 15px;
            font-weight: 600;
        }
        &.val {
            display: block;
            padding-left: 30px;
        }
    }
}

.price-blk {
    padding: 15px 0;
}

.prod-into-inner {
    .social-link {
        margin-bottom: 0;
        position: absolute;
        right: 30px;
        top: 50%;
        .transform(translateY(-50%));
        a {
            text-align: center;
            background-color: transparent;
            color: @blue;
            padding: 0 10px;
            margin-bottom: 0;
            margin-right: 10px;
            i {
                margin-right: 0;
                display: block;
                line-height: 32px;
            }
        }
    }
}

.prod-btn {
    margin-bottom: 15px;
    margin-top: 15px;
    a {
        margin-right: 15px;
    }
}

.promotion-blk {
    display: inline-block;
    border: 2px dashed #b3b2b2;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px 15px;
    .promo-ct {
        margin-bottom: 0;
    }
    .promo-ttl {
        font-weight: 600;
        color: @red;
        margin-bottom: 5px;
    }
}

.price-blk {
    display: inline-block;
    margin-right: 50px;
    .price {
        font-size: 30px;
        color: #6FC3B3;
    }
    .old-price {
        font-size: 12px;
        color: #b3b2b2;
        text-decoration: line-through;
        font-style: italic;
    }
}

.tags-list {
    .ttl {
        margin-right: 20px;
        font-weight: 600;
    }
    .tag-itm {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 15px;
        margin-bottom: 10px;
        border-radius: 3px;
        background-color: #d8d6d6;
        color: #fff;
        .transition(all .4s ease);
        &:hover {
            background-color: @green;
        }
    }
}

.prod-detail-tab {
    margin-top: 50px;
}

#overview {
    img {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
        display: block;
    }
}

.td-ttl {
    width: 20%;
    font-weight: 600;
}
.td-val {
    width: 80%;
}
.table {
    tr {
        &:first-child {
            td {
                border-top: none;
            }
        }
    }
}

.review-head {
    padding: 0 15px;
    .r-h-ttl {
        margin-bottom: 30px;
        font-size: 20px;
    }
}
.r-star-blk {
    position: relative;
    margin-bottom: 15px;
    .star-numb {
        position: absolute;
        left: 5px;
        top: 50%;
        .transform(translateY(-50%));
        color: #fff;
        i {
            margin-left: 5px;
        }
    }

    .r-percent {
        position: absolute;
        right: 5px;
        top: 50%;
        .transform(translateY(-50%));
        color: #fff;
    }
    .progress {
        height: 25px;
        background-color: #707070;
        .progress-bar {
            background-color: #ff9800;
        }
    }
}

// Review form
.review-frm {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    .cmt-ipt {
        display: block;
        border: 1px solid #b3b2b2;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        height: 100px;
    }
}

// Review list
.review-list {
    padding: 15px;
}

.review-itm {
    position: relative;
    margin-bottom: 30px;
    .review-author {
        margin-bottom: 10px;
    }
}

.review-author {
    
}
.auth-ava {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ddd;
    color: #666;
    text-transform: uppercase;
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.auth-name {
    font-weight: 600;
    font-size: 18px;
}

.review-action, .reply-action {
    a {
        display: inline-block;
        color: @blue;
        margin-right: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
    .time-post {
        color: #ccc;
        font-size: 13px;
    }
}

.reply-action {
    .like {
        i {
            color: #ccc;
            margin-right: 5px;
        }
    }
}

.review-reply {
    padding: 15px 15px 0 15px;
    position: relative;
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin-top: 10px;
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 20px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    &:before {
        top: -20px;
        border-color: transparent transparent #dfdfdf transparent;
        border-width: 10px;
    }
    &:after {
        top: -19px;
        border-color: transparent transparent #f8f8f8 transparent;
        border-width: 10px;
    }
}

.reply-itm {
    margin-bottom: 30px;
}

.reply-auth {
    margin-bottom: 10px;
    .auth-role {
        display: inline-block;
        padding: 2px 10px;
        background-color: @green;
        border-radius: 3px;
        margin-left: 15px;
        font-size: 12px;
        cursor: default;
        color: #fff;
    }
}

.review-paging {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        background-color: @blue;
        border-radius: 3px;
        &.disabled {
            pointer-events: none;
            background-color: #ddd;
        }
    }
    input {
        display: inline-block;
        line-height: 30px;
        height: 30px;
        width: 50px;
        border: 1px solid #ccc;
        text-align: center;
        font-weight: 600;
        margin: 0 10px;
        border-radius: 3px;
    }
}

.vote-star {
    .ttl {
        font-size: 17px;
        font-weight: 600;
    }
    .c-rdo {
        label {
            span {
                color: #ccc;
                display: inline-block;
                margin-right: 5px;
                &.active {
                    color: @yellow;
                }
            }
        }
    }
}


.related-ttl {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 30px 0;
    background-color: @blue;
    color: #fff;
    border-radius: 3px;
    padding: 7px 15px;
}

.relate-itm {
    a {
        display: block;
    }
}
.relate-img {
    padding: 15px;
    img {
        width: 100%;
    }
}

.relate-capt {
    .ttl {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .price {
        color: @blue;
        font-size: 16px;
    }
}