/*
 *
 * Checkout css
 *
*/ 

.checkout-content {
    margin-bottom: 50px;
}

.order-table {
    p {
        margin-bottom: 0;
    }
    &.table {
        td {
            // font-size: 16px;
        }
    }
}

.order-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 3px;
    >.ttl {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

.order-total {
    border-top: 1px solid #ddd;
    padding: 15px 10px;
    p {
        .ttl {
            font-weight: 600;
            display: inline-block;
            // font-size: 16px;
        }
        .val {
            float: right;
            // font-size: 16px;
        }
    }
}

.order-accept {
    border-top: 1px solid #ddd;
    padding: 15px 10px 0;
}

.term-condition {
    a {
        color: @blue;
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        color: @red;
    }
}

.inf-usr-blk {
    margin-bottom: 15px;
    >.ttl {
        background-color: @blue;
        color: #fff;
        border-radius: 3px;
        font-size: 20px;
        font-weight: 400;
        padding: 10px 15px;
        margin-bottom: 30px;
    }
    .inf-usr-inner {
        // padding: 0 15px;
        .ttl {
            font-size: 18px;
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
    }
}

.guest-checkout {
    .info {
        font-weight: 600;
    }
}

.dif-address {
    margin: 15px 0;
}

.address-blk {
    display: none;
    p {
        color: @green;
        font-size: 16px;
        padding-left: 30px;
        margin-bottom: 15px;
    }
    a {
        display: inline-block;
        margin-left: 5px;
        color: @blue;
        &:hover {
            text-decoration: underline;
        }
    }
}

.ship-method {
    .c-rdo {
        input[type="radio"]:checked + label + .address-blk  {
            display: block;
        }
    }
}

.payment-inf {
    // background-color: #f5f5f5;
    // padding: 10px;
    border-radius: 3px;
    // font-size: 16px;
    display: none;
    strong, a {
        color: @blue;
    }
    a {
        font-weight: 600;
        margin-right: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    .bank-itm {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 3px;
        strong {
            display: block;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 5px;
        }
        .bank-ttl {
            display: inline-block;
            width: 110px;
            font-weight: 600;
        }
    }
    .note-payment {
        // font-size: 14px;
        margin-top: 10px;
        font-style: italic;
    }
}

.payment {
    .c-rdo {
        input[type="radio"]:checked + label + .payment-inf  {
            display: block;
        }
    }
}

.method-ttl {
    font-size: 17px;
    margin: 15px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: @green;
}

.c-rdo  {
    .rdo-card {
        label {
            padding-left: 0;
            &:before, &:after {
                display: none;
            }
        }
        input[type="radio"]:checked + label  {
            &:before, &:after {
                display: none;
            }
        }
    }
}

.bank-list {
    .bank-ttl {
        font-weight: 600;
        color: @green;
    }
}
.rdo-card {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    label {
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
        border: 2px solid #ddd;
        border-radius: 3px;
        width: 110px;
        height: 60px;
        &:before, &:after {
            display: none;
        }
        &.bank-1 {
            background-image: url('../images/banks/bank-1.png');
        }
        &.bank-2 {
            background-image: url('../images/banks/bank-2.png');
        }
        &.bank-3 {
            background-image: url('../images/banks/bank-3.png');
        }
        &.bank-4 {
            background-image: url('../images/banks/bank-4.png');
        }
        &.bank-5 {
            background-image: url('../images/banks/bank-5.png');
        }
        &.bank-6 {
            background-image: url('../images/banks/bank-6.png');
        }
        &.bank-7 {
            background-image: url('../images/banks/bank-7.png');
        }
        &.bank-8 {
            background-image: url('../images/banks/bank-8.png');
        }
        &.bank-9 {
            background-image: url('../images/banks/bank-9.png');
        }
        &.bank-10 {
            background-image: url('../images/banks/bank-10.png');
        }
        &.bank-11 {
            background-image: url('../images/banks/bank-11.png');
        }
        &.bank-12 {
            background-image: url('../images/banks/bank-12.png');
        }
        &.bank-13 {
            background-image: url('../images/banks/bank-13.png');
        }
        &.bank-visa {
            background-image: url('../images/banks/visa.png');
        }
        &.bank-mastercard {
            background-image: url('../images/banks/mastercard.png');
        }
    }

    input[type="radio"]:checked + label {
        border-color: @blue;
    }
}