// Max-width: 480px

@media (max-width: 480px) {
    // Header
    .dropdown-btn {
        span {
            display: none;
        }
        i {
            font-size: 24px;
            &:before {
                content: '\f0c9';
            }
        }
    }

    .h-t-content {
        a {
            display: block;
            text-align: center;
            .icon-serv {
                display: block;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 10px;
            }
            .serv-ct {
                display: block;
                width: 100%;
            }
        }
    }

    .table {
        thead {
            th {
                font-size: 14px;
            }
        }
    }

    // Build pc result
    .build-tb {
        .ipt {
            width: 50px;
        }
    }

    // Build pc
    .prod-list-table {
        .select-prod {
            .btn {
                padding: 5px;
                font-size: 12px;
            }
        }
        .select-prod {
            .price {
                font-size: 14px;
            }
        }
        .prod-inf {
            a {
                font-size: 16px;
            }
        }
    }

    // Cart
    .cart-ft {
        .btn {
            float: left;
            margin-top: 10px;
            display: block;
            width: 100%;
        }
    }
    .coupon-code {
        float: none;
        input {
            width: 100%;
            padding-right: 130px;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    // Product list
    .grid-itm {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
    }

    .grid-head {
        .grid-head-ct {
            select {
                display: block;
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }

    .filter-blk, .cate-list {
        float: none;
    }
    .filter-inner {
        > .btn {
            width: 100%;
            display: block;
        }
    }

    .cate-list {
        .cate-slt{
            width: 100%;
        }
    }
}


// Max width: 320px

@media (max-width: 320px) {
    // Cart
    .cart-button {
        a {
            &.continue-shop {
                margin-bottom: 10px;
            }
            &.continue-shop, &.checkout {
                float: none;
                display: block;
                width: 100%;
            }
        }
    }
    .coupon-code {
        button {
            font-size: 14px;
            height: 41px;
        }
    }

    // Footer 
    .ft-menu {
        h3 {
            font-size: 15px;
            min-height: 45px;
        }
    }

    .social-link {
        a {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
            text-align: center;
            i {
                margin-right: 2px;
            }
        }
    }

    // Product detail
    .prod-btn {
        .btn {
            width: 100%;
        }
    }
    .tags-list {
        .tag-itm {
            font-size: 12px;
            margin-right: 8px;
        }
    }

    .reply-auth {
        .auth-role {
            display: block;
            margin-left: 0;
            margin-top: 10px;
        }
    }

    // Contact
    .gg-map {
        height: 300px;
    }

    // Login
    .orther-login  {
        .btn {
            width: 100%;
        }
    }

    // Checkout
    .inf-usr-blk {
        > .ttl {
            font-size: 16px;
        }
    }
}