// Max-width: 990px

@media (max-width: 990px) {
    // Header logo
    .logo-blk {
        >a {
            position: absolute;
            left: 50%;
            .transform(translateX(-50%));
        }
    }
    .main-menu-blk {
        margin-left: 0;
    }

    // Header main menu
    .main-menu { 
        &:hover {
            .menu-content {
                display: none;
            }
        }

        .menu-content {
            &.shw {
                display: block;
            }
        }
    }

    .menu-list {
        >li {
            &:hover {
                .sub-menu {
                    display: none;
                }
            }
        }
    }

    // Table
    .table {
        thead {
            th {
                font-size: 15px;
            }
        }
    }

    // Wishlist
    .wish-tb {
        .price-prod {
            .new-price{
                display: block;
                margin-left: 0;
            }
        }
    }

    // Product detail
    .review-total-p {
        .col-md-8, .col-md-4 {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
    .prod-into-inner {
        .social-link {
            position: static;
            .transform(none);
            margin-top: 10px;
            a {
                width: 32px;
            }
        }
    }
}