// Max-width: 860px

@media (max-width: 860px) {
    // Home top head
    .home-top-head {
        .h-top-itm {
            width: 50%;
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .mobile-blk-ttl {
        position: static;
        text-align: center;
        .transform(none);
        margin-bottom: 15px;
    }
    .blk-tab, .promo-blk {
        .nav {
            justify-content: center;
        }
    }

    // Footer
    .logo-ft {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        .ft-logo-btn {
            display: block;
            text-align: center;
        }
    }
    .ft-menu {
        padding-top: 15px;
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
        h3 {
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    // Checkout
    .info-user {
        margin-bottom: 15px;
    }
    .info-user, .order-info {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
    }

    // PC build
    .choose-list, .step-blk {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
    }
}

// Max-width: 768px
@media (max-width: 768px) {
    // Cart page
    .cart-total {
        width: 100%;
    }
    .cart-table {
        .prod-name {
            display: block;
            margin-top: 10px;
        }
    }

    // Login
    .login-blk {
        margin-bottom: 30px;
    }

    .login-blk, .regis-blk {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
    }

    // Product list
    .grid-itm {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    // Product detail
    .prod-btn {
        .btn {
            margin-bottom: 10px;
        }
    }
}