// Max-width: 520px

@media (max-width:520px) {
    // Product detail
    .prod-into-inner {
        border-top: 1px solid #ddd;
        margin-top: 15px;
        padding-top: 15px;
    }

    #overview {
        img {
            width: 100%;
        }
    }

    // Product list
    .grid-itm {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        margin-bottom: 15px;
    }
    .filter-blk {
        float: left;
        margin-top: 15px;
    }
    .filter-inner {
        > .btn {
            height: 32px;
            line-height: 32px;
        }
        .filt-ct {
            left: 0;
            width: 100%;
            top: 95px;
            .filt-ct-inner {
                &:before, &:after {
                    right: 0;
                    left: 40px;
                }
            }
        }
    }
    .cate-list {
        .cate-slt {
            height: 32px;
        }
    }

    .paging {
        float: left;
        margin-top: 10px;
        width: 100%;
        a {
            height: 32px;
            line-height: 32px;
            &.prev-btn {
                margin-left: 0;
            }
        }
        input {
            height: 33px;
        }
    }
    .grid-head {
        .grid-head-ct {
            width: 100%;
            float: left;
            select {
                height: 32px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}