// Max-width: 1024px

@media (max-width: 1024px) {
    // Header right menu
    .right-mobile-btn {
        display: block;
    }
    .right-head-inner {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 1px solid #ddd;
        display: none;
        position: absolute;
        width: 200px;
        right: 15px;
        background-color: #fff;
        z-index: 500;
        top: 65px;
        padding: 15px;
        &.shw {
            display: block;
        }
    }
    .right-menu {
        ul{
            padding: 0;
            li{
                display: block;
                > a {
                    margin-left: 0;
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    text-align: center;
                    height: 35px;
                    line-height: 35px;
                    background-color: rgba(20, 23, 28, 0.05);
                    &.login-btn {
                        background-color: @blue;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .compare-btn, .cart-btn {
        border-radius: 3px;
    }

    .cart-btn {
        span {
            top: 50%;
            right: 30%;
            .transform(translateY(-50%));
        }
    }
    .search-blk {
        position: fixed;
        height: 65px;
    }

    .header-right {
        width: 100px;
        max-width: 100px;
        flex: 0 0 100%;
    }
    .logo-blk {
        width: ~"calc(100% - 100px)";
        max-width: ~"calc(100% - 100px)";
        flex: 0 0 100%;
    }
}