.brand-slide
    .container
        .owl-carousel#brand-slider
            .brand-itm
                img(src="uploads/logo/logo-1.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-2.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-3.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-4.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-5.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-6.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-7.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-8.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-9.png", alt="")
            .brand-itm
                img(src="uploads/logo/logo-10.png", alt="")