.camera-blk
    .blk-tab
        h3.mobile-blk-ttl 
            a(href="#") Camera
        ul#camera-blk-tab.nav.nav-tabs.custom-tab(role='tablist')
            //- li.blk-tab-ttl
            //-     h3 Camera
            li.nav-item
                a#camera.nav-link.active(data-toggle='tab', href='#camera-tab', role='tab', aria-controls='camera-tab', aria-selected='true') Camera quan sát
            li.nav-item
                a#kts-tab.nav-link(data-toggle='tab', href='#kts', role='tab', aria-controls='kts', aria-selected='false') Đầu ghi hình KTS
            li.nav-item
                a#hdsdi.nav-link(data-toggle='tab', href='#hdsdi-prod', role='tab', aria-controls='hdsdi-prod', aria-selected='false') Đầu ghi HDSDI
            li.nav-item
                a#other.nav-link(data-toggle='tab', href='#other-prod', role='tab', aria-controls='other-prod', aria-selected='false') Thiết bị khác
    // END: Tab button
    #camera-tab-content.tab-content.custom-tab-ct
        #camera-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='camera-tab')
            include camera/arrival-prod.jade
            // END: Arrival product
        #kts.tab-pane.fade(role='tabpanel', aria-labelledby='kts-tab') 
            include camera/prod-on-sale.jade
            // END: Product on sale
        #hdsdi-prod.tab-pane.fade(role='tabpanel', aria-labelledby='hdsdi-prod') 
            include camera/mainboard.jade
            // END: Product on sale
        #other-prod.tab-pane.fade(role='tabpanel', aria-labelledby='other') 
            include camera/vga.jade
            // END: Product best sell

