.main-slider
    .slider-content.carousel.slide#slider-content(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target='#slider-content', data-slide-to='0')
            li(data-target='#slider-content', data-slide-to='1')
        .carousel-inner
            .carousel-item.active
                a(href="#")
                    img.d-block.w-100(src='uploads/home-slider/main-slide-4.jpg', alt='Second slide')
            .carousel-item
                a(href="#")
                    img.d-block.w-100(src='uploads/home-slider/main-slide-5.jpg', alt='Third slide')
        a.carousel-control-prev(href='#slider-content', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#slider-content', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
// END: Main slider