.pc-blk
    .blk-tab
        h3.mobile-blk-ttl 
            a(href="#") Linh kiện máy tính
        ul#pc-blk-tab.nav.nav-tabs.custom-tab(role='tablist')
            //- li.blk-tab-ttl
            //-     h3 Linh kiện máy tính
            li.nav-item
                a#mainboard-tab.nav-link.active(data-toggle='tab', href='#mainboard', role='tab', aria-controls='mainboard', aria-selected='true') Mainboard
            li.nav-item
                a#cpu.nav-link(data-toggle='tab', href='#cpu-tab', role='tab', aria-controls='cpu-tab', aria-selected='false') CPU
            li.nav-item
                a#vga.nav-link(data-toggle='tab', href='#vga-tab', role='tab', aria-controls='vga-tab', aria-selected='false') VGA
            li.nav-item
                a#ram.nav-link(data-toggle='tab', href='#ram-tab', role='tab', aria-controls='ram-tab', aria-selected='false') RAM
            li.nav-item
                a#hdd.nav-link(data-toggle='tab', href='#hdd-tab', role='tab', aria-controls='hdd-tab', aria-selected='false') HDD
            li.nav-item
                a#ssd.nav-link(data-toggle='tab', href='#ssd-tab', role='tab', aria-controls='ssd-tab', aria-selected='false') SSD
            li.nav-item
                a#psu.nav-link(data-toggle='tab', href='#psu-tab', role='tab', aria-controls='psu-tab', aria-selected='false') PSU
            li.nav-item
                a#case.nav-link(data-toggle='tab', href='#case-tab', role='tab', aria-controls='case-tab', aria-selected='false') Case
            li.nav-item
                a#lcd.nav-link(data-toggle='tab', href='#lcd-tab', role='tab', aria-controls='lcd-tab', aria-selected='false') LCD
            li.nav-item
                a#key-mouse.nav-link(data-toggle='tab', href='#key-mouse-tab', role='tab', aria-controls='key-mouse-tab', aria-selected='false') Bàn phím - Chuột
    // END: Tab button

    #pc-tab-content.tab-content.custom-tab-ct
        #mainboard.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='mainboard')
            include pc/mainboard.jade
            // END: Arrival product
        #cpu-tab.tab-pane.fade(role='tabpanel', aria-labelledby='cpu-tab')
            include pc/cpu.jade
            // END: CPU Tab
        #vga-tab.tab-pane.fade(role='tabpanel', aria-labelledby='vga-tab')
            include pc/vga.jade
            // END: VGA Tab
        #ram-tab.tab-pane.fade(role='tabpanel', aria-labelledby='ram-tab')
            include pc/ram.jade
            // END: RAM Tab
        #hdd-tab.tab-pane.fade(role='tabpanel', aria-labelledby='hdd-tab')
            include pc/hdd.jade
            // END: HDD Tab
        #ssd-tab.tab-pane.fade(role='tabpanel', aria-labelledby='ssd-tab')
            include pc/ssd.jade
            // END: SSD Tab
        #psu-tab.tab-pane.fade(role='tabpanel', aria-labelledby='psu-tab')
            include pc/psu.jade
            // END: PSU Tab
        #case-tab.tab-pane.fade(role='tabpanel', aria-labelledby='case-tab')
            include pc/case.jade
            // END: CASE Tab
        #lcd-tab.tab-pane.fade(role='tabpanel', aria-labelledby='lcd-tab')
            include pc/lcd.jade
            // END: LCD Tab
        #key-mouse-tab.tab-pane.fade(role='tabpanel', aria-labelledby='key-mouse-tab')
            include pc/key-mouse.jade
            // END: LCD Tab