.promo-blk
    ul#promo-tab.nav.nav-tabs.custom-tab(role='tablist')
        li.nav-item
            a#prod-arrival.nav-link.active(data-toggle='tab', href='#arrival', role='tab', aria-controls='arrival', aria-selected='true') Sản phẩm mới về
        li.nav-item
            a#prod-sale.nav-link(data-toggle='tab', href='#on-sale', role='tab', aria-controls='on-sale', aria-selected='false') Sản phẩm giảm giá
        li.nav-item
            a#best-sell.nav-link(data-toggle='tab', href='#best-sell-prod', role='tab', aria-controls='best-sell-prod', aria-selected='false') Sản phẩm bán chạy
    // END: Tab button
    #promo-tab-content.tab-content.custom-tab-ct
        #arrival.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='prod-arrival')
            include arrival-prod.jade
            // END: Arrival product
        #on-sale.tab-pane.fade(role='tabpanel', aria-labelledby='prod-sale') 
            include prod-on-sale.jade
            // END: Product on sale
        #best-sell-prod.tab-pane.fade(role='tabpanel', aria-labelledby='best-sell') 
            include best-sell.jade
            // END: Product best sell

