/*
 *
 * Account css
 *
*/ 

.blk-inner {
    .ttl {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
}

.login-frm {
    .forgot-pass {
        display: inline-block;
        margin-left: 20px;
        color: @blue;
        text-decoration: underline;
        &:hover {
            color: darken(@blue, 10%);
        }
    }
}

.orther-login {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    &:after {
        content: 'Hoặc';
        display: block;
        z-index: 20;
        background-color: #fff;
        border-radius: 100%;
        font-style: italic;
        font-weight: 600;
        border: 1px solid #ddd;
        position: absolute;
        top: -23px;
        left: 50%;
        .transform(translateX(-50%));
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
    }
    .btn {
        margin-bottom: 10px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

.regis-blk {
    .note {
        font-weight: 600;
    }
}