block vars
    -title="Build PC Result"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-5.jpg');")
        .blk-content.build-result
            .container
                .build-res-inner
                    .build-head.text-center
                        h3.ttl Bảng báo giá
                        p.date Thứ năm, 01/01/2018 16:23
                    .build-info
                        .row
                            .col-md-6
                                p
                                    span.ttl Anh/chị: 
                                    span.val Toàn Nguyễn
                                p
                                    span.ttl Đơn vị: 
                                    span.val ABC
                                p
                                    span.ttl Địa chỉ: 
                                    span.val 123 Việt Nam
                            .col-md-6
                                p
                                    span.ttl Điện thoại: 
                                    span.val 231 315 4658
                                p
                                    span.ttl Email: 
                                    span.val ton@gmail.com
                                p
                                    span.ttl Fax: 
                                    span.val 
                    .build-tb
                        p.intro Tango shop xin trân trọng gửi tới quý khách hàng bảng báo giá sau
                        .table-responsive
                            table.table
                                thead
                                    tr
                                        th STT
                                        th Tên sản phẩm
                                        th.text-center Số lượng
                                        th.text-center Đơn giá (VNĐ)
                                        th.text-center Thành tiền (VNĐ)
                                        th.text-center Bảo hành
                                        th
                                tbody
                                    tr 
                                        td.text-center 1
                                        td 
                                            a.part-name(href="#") Asus ROG Zenith Extreme Gaming
                                            p.prod-code Mã sản phẩm: MBAS463
                                            p.promo-ct Khuyến mại còn 1.862.000 áp dụng từ 1-8/1/2018
                                        td.text-center 
                                            input.ipt(type="text", value="1")
                                        td.text-center
                                            p.price 11,290,000
                                        td.text-center
                                            p.price 11,290,000
                                        td.text-center
                                            p 36 tháng
                                        td.text-center
                                            a.del-itm(href="#")
                                                i.fa.fa-trash
                                    tr 
                                        td.text-center 2
                                        td 
                                            a.part-name(href="#") CPU Intel Core i7 8700K 3.7Ghz Turbo Up to 4.7Ghz / 12MB / 6 Cores, 12 Threads / Socket 1151 v2 (Coffee Lake )
                                            p.prod-code Mã sản phẩm: CPUI246
                                            p Giảm giá 10%
                                        td.text-center 
                                            input.ipt(type="text", value="1")
                                        td.text-center
                                            p.price.old-price 9,790,000
                                            p.new-price 8,811,000
                                        td.text-center
                                            p.price 8,811,000
                                        td.text-center
                                            p 36 tháng
                                        td.text-center
                                            a.del-itm(href="#")
                                                i.fa.fa-trash
                                    tr.total-build
                                        td.text-right(colspan="4")
                                            p Tổng cộng:
                                        td(colspan="3")
                                            p 21,080,000 VNĐ
                        // END: Table build
                        .build-ft.text-center
                            a.btn.btn-blue(href="#") Đặt mua
                            a.btn.btn-green(href="#") In cấu hình