block vars
    -title="Build PC"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-7.jpg');")
            .breadcrumb-list
                h3 Xây dựng cấu hình
        .blk-content.build-pc-ct
            .container
                .row
                    .col-md-9.step-blk
                        .step-inner.step-one
                            h3.ttl
                                | Bước 1: Chọn mainboard
                                a.btn.btn-blue.ignore-step(href="javascript:;") Bỏ qua
                            .row
                                .col-md-3.filter-step
                                    .filt-blk
                                        p.filt-ttl Hãng sản xuất
                                        .filt-el
                                            .c-rdo
                                                input#asus(type="radio", name="filter-manifacture")
                                                label(for="asus") Asus
                                        .filt-el
                                            .c-rdo
                                                input#gigabyte(type="radio", name="filter-manifacture")
                                                label(for="gigabyte") Gigabyte
                                        .filt-el
                                            .c-rdo
                                                input#msi(type="radio", name="filter-manifacture")
                                                label(for="msi") MSI
                                        .filt-el
                                            .c-rdo
                                                input#asrock(type="radio", name="filter-manifacture")
                                                label(for="asrock") Asrock
                                        .filt-el
                                            .c-rdo
                                                input#intel(type="radio", name="filter-manifacture")
                                                label(for="intel") Intel
                                    .filt-blk
                                        p.filt-ttl Khoảng giá
                                        .filt-el
                                            .c-rdo
                                                input#more-8(type="radio", name="filter-price")
                                                label(for="more-8") Trên 8 triệu
                                        .filt-el
                                            .c-rdo
                                                input#4-to-8(type="radio", name="filter-price")
                                                label(for="4-to-8") 4 triệu - 8 triệu
                                        .filt-el
                                            .c-rdo
                                                input#2-to-4(type="radio", name="filter-price")
                                                label(for="2-to-4") 2 triệu - 4 triệu
                                        .filt-el
                                            .c-rdo
                                                input#less-2(type="radio", name="filter-price")
                                                label(for="less-2") Dưới 2 triệu
                                    // END: Filter blk
                                    .filt-blk
                                        p.filt-ttl Socket
                                        .filt-el
                                            .c-rdo
                                                input#am4(type="radio", name="filter-socket")
                                                label(for="am4") AM4
                                        .filt-el
                                            .c-rdo
                                                input#tr4(type="radio", name="filter-socket")
                                                label(for="tr4") TR4
                                        .filt-el
                                            .c-rdo
                                                input#1151(type="radio", name="filter-socket")
                                                label(for="1151") 1151
                                        .filt-el
                                            .c-rdo
                                                input#2011(type="radio", name="filter-socket")
                                                label(for="2011") 2011
                                        .filt-el
                                            .c-rdo
                                                input#2066(type="radio", name="filter-socket")
                                                label(for="2066") 2066
                                        .filt-el
                                            .c-rdo
                                                input#amd(type="radio", name="filter-socket")
                                                label(for="amd") AMD
                                    // END: Filter blk
                                    .filt-blk
                                        p.filt-ttl Kích thước
                                        .filt-el
                                            .c-rdo
                                                input#itx(type="radio", name="filter-size")
                                                label(for="itx") ITX
                                        .filt-el
                                            .c-rdo
                                                input#atx(type="radio", name="filter-size")
                                                label(for="atx") ATX
                                        .filt-el
                                            .c-rdo
                                                input#m-atx(type="radio", name="filter-size")
                                                label(for="m-atx") M-ATX
                                        .filt-el
                                            .c-rdo
                                                input#e-atx(type="radio", name="filter-size")
                                                label(for="e-atx") E-ATX
                                    // END: Filter blk
                                .col-md-9.prod-list
                                    .prod-sort.text-right
                                        span Sắp xếp: 
                                        select
                                            option(value="") Sản phẩm mới nhất
                                            option(value="") Giá cao đến thấp
                                            option(value="") Sản thấp đến cao
                                    .table-responsive
                                        table.table.prod-list-table
                                            thead
                                                tr
                                                    th Hình ảnh
                                                    th Thông tin sản phẩm
                                                    th.text-center Lựa chọn
                                            tbody
                                                tr
                                                    td
                                                        img(src="uploads/products/main-2.jpg", alt="")
                                                    td
                                                        .prod-inf
                                                            a(href="#") Asus ROG Zenith Extreme Gaming 
                                                            p 
                                                                span.ttl Mã sản phẩm: 
                                                                span.val SKU5487FB8/13
                                                            p
                                                                span.ttl Bảo hành: 
                                                                span.val 36 tháng
                                                            p
                                                                span.ttl Kho hàng: 
                                                                span.val Còn hàng
                                                    td.text-center
                                                        .select-prod
                                                            p.price 11,290,000đ
                                                            a.btn.btn-blue(href="#") Chọn sản phẩm
                                                // END: TD item
                                                tr
                                                    td
                                                        img(src="uploads/products/main-1.png", alt="")
                                                    td
                                                        .prod-inf
                                                            a(href="#") Asus ROG Zenith Extreme Gaming 
                                                            p 
                                                                span.ttl Mã sản phẩm: 
                                                                span.val SKU5487FB8/13
                                                            p
                                                                span.ttl Bảo hành: 
                                                                span.val 36 tháng
                                                            p
                                                                span.ttl Kho hàng: 
                                                                span.val Còn hàng
                                                    td.text-center
                                                        .select-prod
                                                            p.price 11,290,000đ
                                                            a.btn.btn-blue(href="#") Chọn sản phẩm
                                                // END: TD item
                                                tr
                                                    td
                                                        img(src="uploads/products/main-3.jpg", alt="")
                                                    td
                                                        .prod-inf
                                                            a(href="#") Asus ROG Zenith Extreme Gaming 
                                                            p 
                                                                span.ttl Mã sản phẩm: 
                                                                span.val SKU5487FB8/13
                                                            p
                                                                span.ttl Bảo hành: 
                                                                span.val 36 tháng
                                                            p
                                                                span.ttl Kho hàng: 
                                                                span.val Còn hàng
                                                            p
                                                                span.ttl Khuyến mại: 
                                                                span.val Khuyến mại Bộ dây đèn LED MSI-Phanteks Multi Coloured RGB(DENL033), áp dụng đến khi hết quà tặng
                                                    td.text-center
                                                        .select-prod
                                                            p.price 11,290,000đ
                                                            a.btn.btn-blue(href="#") Chọn sản phẩm
                                                // END: TD item
                                                tr
                                                    td
                                                        img(src="uploads/products/main-4.png", alt="")
                                                    td
                                                        .prod-inf
                                                            a(href="#") Asus ROG Zenith Extreme Gaming 
                                                            p 
                                                                span.ttl Mã sản phẩm: 
                                                                span.val SKU5487FB8/13
                                                            p
                                                                span.ttl Bảo hành: 
                                                                span.val 36 tháng
                                                            p
                                                                span.ttl Kho hàng: 
                                                                span.val.out-stock Hết hàng
                                                    td.text-center
                                                        .select-prod
                                                            p.price 11,290,000đ
                                                            a.btn.btn-blue(href="#") Chọn sản phẩm
                                                // END: TD item
                                                tr
                                                    td
                                                        img(src="uploads/products/main-5.jpg", alt="")
                                                    td
                                                        .prod-inf
                                                            a(href="#") Asus ROG Zenith Extreme Gaming 
                                                            p 
                                                                span.ttl Mã sản phẩm: 
                                                                span.val SKU5487FB8/13
                                                            p
                                                                span.ttl Bảo hành: 
                                                                span.val 36 tháng
                                                            p
                                                                span.ttl Kho hàng: 
                                                                span.val Còn hàng
                                                    td.text-center
                                                        .select-prod
                                                            p.price 11,290,000đ
                                                            a.btn.btn-blue(href="#") Chọn sản phẩm
                                                // END: TD item
                                                tr
                                                    td
                                                        img(src="uploads/products/main-6.jpg", alt="")
                                                    td
                                                        .prod-inf
                                                            a(href="#") Asus ROG Zenith Extreme Gaming 
                                                            p 
                                                                span.ttl Mã sản phẩm: 
                                                                span.val SKU5487FB8/13
                                                            p
                                                                span.ttl Bảo hành: 
                                                                span.val 36 tháng
                                                            p
                                                                span.ttl Kho hàng: 
                                                                span.val Còn hàng
                                                    td.text-center
                                                        .select-prod
                                                            p.price 11,290,000đ
                                                            a.btn.btn-blue(href="#") Chọn sản phẩm
                                                // END: TD item
                                    .table-paging.clearfix
                                        .paging
                                            a.prev-btn.disabled(href="javascript:;")
                                                i.fa.fa-long-arrow-left
                                            input(type="text", value="1")
                                            a.next-btn(href="javascript:;")
                                                i.fa.fa-long-arrow-right
                                    // END: Table paging
                    // END: Block step
                    .col-md-3.choose-list
                        .choose-content
                            h3.ttl 
                                span Danh sách bạn đã chọn
                                i.fa.fa-chevron-down
                            .choose-inner
                                .choose-itm
                                    p.type 1. Bo mạch chủ
                                    a.name(href="#") Mainboard ASUS ROG RAMPAGE VI EXTREME
                                    p.price 18,259,000đ
                                    .choose-opt
                                        a.btn.btn-red(href="#") Xóa 
                                        a.btn.btn-blue(href="#") Chọn lại
                                // END: Choose item
                                .choose-itm
                                    p.type 2. Vi xử lý
                                    a.name(href="#") CPU Intel Core i9 7980XE EXTREME EDITION 2.6 GHz Turbo up to 4.2 GHz / 24.75 MB / 18 Cores, 36 Threads / Socket 2066
                                    p.price 49,990,000đ
                                    .choose-opt
                                        a.btn.btn-red(href="#") Xóa 
                                        a.btn.btn-blue(href="#") Chọn lại
                                // END: Choose item
                                .choose-itm
                                    p.type 3. RAM
                                    a.btn.btn-blue(href="#") Chọn lại
                                // END: Choose item
                                .choose-itm
                                    p.type 4. HDD
                                // END: Choose item
                                .choose-itm
                                    p.type 5. SSD
                                // END: Choose item
                                .choose-itm
                                    p.type 6. VGA
                                // END: Choose item
                                .choose-itm
                                    p.type 7. Nguồn
                                // END: Choose item
                                .choose-itm
                                    p.type 8. Vỏ case
                                // END: Choose item
                                .choose-itm
                                    p.type 9. Tản nhiệt
                                // END: Choose item
                                .choose-itm
                                    p.type 10. Màn hình
                                // END: Choose item
                                .choose-itm
                                    p.type 11. Bàn phím
                                // END: Choose item
                                .choose-itm
                                    p.type 12. Chuột
                                // END: Choose item
                                .choose-itm
                                    p.type 13. Loa
                                // END: Choose item
                                .choose-itm
                                    p.type 14. Ổ quang
                                // END: Choose item
                                .choose-footer
                                    p.total-price
                                        span.ttl Tổng giá: 
                                        span.val 100,000,000đ
                                    a.btn.btn-blue(href="#") Xem báo giá
                .related-prod
                    h3.related-ttl Cấu hình tham khảo
                    .relate-content.owl-carousel#refer-prod
                        .relate-itm
                            a(href="#")
                                .relate-inner
                                    .relate-img
                                        img(src="uploads/products/ram-1.jpg", alt="")
                                    .relate-capt.text-center
                                        h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                        p.price 3,000,000
                        // END: Related item
                        .relate-itm
                            a(href="#")
                                .relate-inner
                                    .relate-img
                                        img(src="uploads/products/ram-2.jpg", alt="")
                                    .relate-capt.text-center
                                        h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                        p.price 3,000,000
                        // END: Related item
                        .relate-itm
                            a(href="#")
                                .relate-inner
                                    .relate-img
                                        img(src="uploads/products/ram-3.jpg", alt="")
                                    .relate-capt.text-center
                                        h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                        p.price 3,000,000
                        // END: Related item
                        .relate-itm
                            a(href="#")
                                .relate-inner
                                    .relate-img
                                        img(src="uploads/products/ram-4.jpg", alt="")
                                    .relate-capt.text-center
                                        h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                        p.price 3,000,000
                        // END: Related item
                        .relate-itm
                            a(href="#")
                                .relate-inner
                                    .relate-img
                                        img(src="uploads/products/ram-5.jpg", alt="")
                                    .relate-capt.text-center
                                        h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                        p.price 3,000,000
                        // END: Related item
                        .relate-itm
                            a(href="#")
                                .relate-inner
                                    .relate-img
                                        img(src="uploads/products/ram-6.jpg", alt="")
                                    .relate-capt.text-center
                                        h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                        p.price 3,000,000
                        // END: Related item