block vars
    -title="Cart Page"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-2.jpg');")
            .breadcrumb-list
                h3 Giỏ hàng
        .cart-content
            .container
                .cart-table.clearfix
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Sản phẩm
                                    th.text-center Giá
                                    th.text-center Số lượng
                                    th.text-center Tổng cộng
                                    th
                            tbody
                                tr
                                    td
                                        a.prod-detail(href="#")
                                            img.cart-img(src="uploads/products/vga-1.png", alt="")
                                            h3.prod-name Asus GTX 1060 OC 6GB
                                    td.text-center
                                        p.price-prod 7,200,000đ
                                    td.text-center
                                        input.quantity-ipt(type="text", value="1")
                                    td.text-center
                                        p.total-td.price-prod 7,200,000đ
                                    td.text-center
                                        a.del-cart-itm(href="#")
                                            i.fa.fa-trash
                                // END: Cart item
                                tr
                                    td
                                        a.prod-detail(href="#")
                                            img.cart-img(src="uploads/products/vga-2.jpg", alt="")
                                            h3.prod-name Asus GTX 1080Ti OC 11GB
                                    td.text-center
                                        p.price-prod 23,200,000đ
                                    td.text-center
                                        input.quantity-ipt(type="text", value="1")
                                    td.text-center
                                        p.total-td.price-prod 23,200,000đ
                                    td.text-center
                                        a.del-cart-itm(href="#")
                                            i.fa.fa-trash
                                // END: Cart item
                                tr
                                    td
                                        a.prod-detail(href="#")
                                            img.cart-img(src="uploads/products/main-3.jpg", alt="")
                                            h3.prod-name Gigabyte Aorus X299 Gaming 3
                                    td.text-center
                                        p.price-prod 5,200,000đ
                                    td.text-center
                                        input.quantity-ipt(type="text", value="1")
                                    td.text-center
                                        p.total-td.price-prod 5,200,000đ
                                    td.text-center
                                        a.del-cart-itm(href="#")
                                            i.fa.fa-trash
                                // END: Cart item
                    .cart-ft.clearfix
                        .coupon-code
                            input(type="text", placeholder="Coupon code")
                            button Apply coupon
                        button.btn.btn-blue Update cart
                    .cart-total
                        h4.title Cart totals
                        .cart-total-inner
                            p.clearfix
                                span.ttl Subtotal:
                                span.val 50,000,000
                            p.clearfix
                                span.ttl Giảm giá:
                                span.val 1,000,000
                            p.clearfix
                                span.ttl Shipping:
                                span.val 0.00
                            p.clearfix.total-price
                                span.ttl Total:
                                span.val 49,000,000
                        .cart-button.clearfix
                            a.continue-shop.btn.btn-green(href="#") Tiếp tục mua sắm
                            a.checkout.btn.btn-blue(href="#") Thanh toán
                    // END: Cart total
        // END: Cart content