block vars
    -title="Checkout"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-1.jpg');")
            .breadcrumb-list
                h3 Thanh toán
        .checkout-content
            .container
                .row
                    .col-md-8.info-user
                        .account-info.inf-usr-blk
                            h3.ttl Thông tin khách hàng
                            .inf-usr-inner
                                .row
                                    .col-md-6
                                        .login-checkout
                                            h3.ttl Đăng nhập
                                            form.login-chkout
                                                .form-group
                                                    label
                                                        | Email 
                                                        span.required-field (*)
                                                    input.ipt(type="text", placeholder="Email")
                                                .form-group
                                                    label
                                                        | Mật khẩu 
                                                        span.required-field (*)
                                                    input.ipt(type="text", placeholder="Mật khẩu")
                                                .form-group
                                                    button.btn.btn-blue Đăng nhập
                                    .col-md-6
                                        .guest-checkout
                                            h3.ttl Thanh toán không cần đăng ký
                                            p.info Đăng ký tài khoản để nhận được nhiều ưu đãi
                                            .rdo-chkout-opt.c-rdo
                                                input#regis-chkout(type="radio", name="chkout-opt")
                                                label(for="regis-chkout") Đăng ký.
                                            .rdo-chkout-opt.c-rdo
                                                input#noregis-chkout(type="radio", name="chkout-opt")
                                                label(for="noregis-chkout") Thanh toán không cần đăng ký.
                        // END: Account info
                        .inf-usr-blk.billing-detail
                            h3.ttl Thông tin người nhận hàng
                            .inf-usr-inner
                                .row
                                    .col-md-6
                                        .form-group
                                            label Họ và tên
                                            input.ipt(type="text", placeholder="Họ và tên")
                                        .form-group
                                            label Địa chỉ
                                            input.ipt(type="text", placeholder="Địa chỉ")
                                    .col-md-6
                                        .form-group
                                            label Email
                                            input.ipt(type="text", placeholder="Email")
                                        .form-group
                                            label Số điện thoại
                                            input.ipt(type="text", placeholder="Số điện thoại")
                                .dif-address
                                    .c-chk
                                        input#dif-address(type="checkbox")
                                        label(for="dif-address") Nhập địa chỉ khác
                                .diff-info-blk.d-none
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Họ và tên
                                                input.ipt(type="text", placeholder="Họ và tên")
                                            .form-group
                                                label Địa chỉ
                                                input.ipt(type="text", placeholder="Địa chỉ")
                                        .col-md-6
                                            .form-group
                                                label Email
                                                input.ipt(type="text", placeholder="Email")
                                            .form-group
                                                label Số điện thoại
                                                input.ipt(type="text", placeholder="Số điện thoại")
                                .order-note
                                    .form-group
                                        label Ghi chú
                                        textarea.ipt-area(placeholder="Ghi chú khi giao hàng")
                        // END: Billing detail
                        .inf-usr-blk.payment-method
                            h3.ttl Vận chuyển và thanh toán
                            .inf-usr-inner
                                .ship-method
                                    p.method-ttl Phương thức vận chuyển
                                    .c-rdo
                                        input#at-store(type="radio", name="shipping-method")
                                        label(for="at-store") Nhận tại cửa hàng.
                                        .address-blk
                                            p
                                                strong Địa chỉ: 
                                                span 132 Cộng Hòa, phường 4, quận Tân Bình, Tp Hồ Chí Minh
                                                a(href="#") Xem bản đồ
                                    .c-rdo
                                        input#shipping(type="radio", name="shipping-method")
                                        label(for="shipping") Nhân viên giao tận nhà.
                                // END: Ship method
                                .payment
                                    p.method-ttl Phương thức thanh toán
                                    .c-rdo
                                        input#visa(type="radio", name="pay-method")
                                        label(for="visa") Thanh toán trực tiếp hoặc quẹt thẻ tại cửa hàng.
                                        .payment-inf
                                            p 
                                                | Quý khách hàng vui lòng thanh toán trực tiếp tại cửa hàng ngay khi mua hàng 
                                                strong 132 Cộng Hòa, phường 4, quận Tân Bình, Tp Hồ Chí Minh
                                            p Ngay khi quý khách thanh toán xong, nhân viên kế toán sẽ gửi lại quý khách HĐTC và nhân viên kinh doanh sẽ hướng dẫn quý khách hình thức giao nhận hàng.
                                            p 
                                                | Quý khách hàng được miễn phí quẹt thẻ ngân hàng khi thanh toán tại 
                                                a(href="index.html") Mango shop
                                    .c-rdo
                                        input#transfer(type="radio", name="pay-method")
                                        label(for="transfer") Chuyển khoản qua ngân hàng.
                                        .payment-inf 
                                            p
                                                | Quý khách khi mua hàng tại Mango shop cần thanh toán chuyển khoản vui lòng chuyền vào tài khoản sau đây:
                                            .bank-itm
                                                strong Ngân hàng ACB - Chi nhánh Phú Nhuận
                                                p
                                                    span.bank-ttl Tên tài khoản:
                                                    span.val Phạm Hùng
                                                p
                                                    span.bank-ttl Số tài khoản:
                                                    span.val 221420739
                                            p.note-payment
                                                | (*) Sau khi đặt hàng thành công vui lòng gửi hình ảnh hóa đơn, chứng từ chuyển khoản cho chúng tôi. 
                                                a(href="index.html") Mango shop
                                                | sẽ gửi hàng đến Quý khách khi nhận được thông báo chuyển tiền.
                                            p.note-payment
                                                | (*) Nếu địa điểm giao hàng là ngoại thành, ngoại tỉnh hoặc nội thành thành phố Hồ Chí Minh nhưng khác với địa điểm thanh toán (trong trường hợp Quý khách gửi quà, gửi hàng cho bạn bè, đối tác …) chúng tôi sẽ thu tiền trước 100% giá trị đơn hàng + phí vận chuyển theo cước phí tính trong chinh sách vận chuyển bằng phương thức chuyển khoản trước khi giao hàng.
                                    .c-rdo
                                        input#cash(type="radio", name="pay-method")
                                        label(for="cash") Thanh toán tiền mặt khi nhận hàng.
                                        .payment-inf
                                            p Quý khách thanh toán cho nhân viên giao nhận toàn bộ hoặc phần còn lại của giá trị đơn hàng đã mua (nếu đã đặt cọc) bằng tiền mặt hoặc quẹt thẻ tại địa điểm nhận hàng. Trong trường hợp bạn không thể trực tiếp nhận hàng, vui lòng thông báo số tiền thanh toán cho người nhận giúp.
                                            p Nếu địa điểm giao hàng không nằm trong phạm vi được giao hàng miễn phí chúng tôi sẽ thu thêm chi phí vận chuyển (có thông báo trước với khách hàng).
                                    .c-rdo
                                        input#internet-banking(type="radio", name="pay-method")
                                        label(for="internet-banking") Thanh toán qua internet banking
                                        .payment-inf
                                            .bank-list
                                                p.bank-ttl ATM
                                                .rdo-card
                                                    input#bank-1(type="radio", name="i-card-payment")
                                                    label.bank-1(for="bank-1")
                                                .rdo-card
                                                    input#bank-2(type="radio", name="i-card-payment")
                                                    label.bank-2(for="bank-2")
                                                .rdo-card
                                                    input#bank-3(type="radio", name="i-card-payment")
                                                    label.bank-3(for="bank-3")
                                                .rdo-card
                                                    input#bank-4(type="radio", name="i-card-payment")
                                                    label.bank-4(for="bank-4")
                                                .rdo-card
                                                    input#bank-5(type="radio", name="i-card-payment")
                                                    label.bank-5(for="bank-5")
                                                .rdo-card
                                                    input#bank-6(type="radio", name="i-card-payment")
                                                    label.bank-6(for="bank-6")
                                                .rdo-card
                                                    input#bank-7(type="radio", name="i-card-payment")
                                                    label.bank-7(for="bank-7")
                                                .rdo-card
                                                    input#bank-8(type="radio", name="i-card-payment")
                                                    label.bank-8(for="bank-8")
                                                .rdo-card
                                                    input#bank-9(type="radio", name="i-card-payment")
                                                    label.bank-9(for="bank-9")
                                                .rdo-card
                                                    input#bank-10(type="radio", name="i-card-payment")
                                                    label.bank-10(for="bank-10")
                                                .rdo-card
                                                    input#bank-11(type="radio", name="i-card-payment")
                                                    label.bank-11(for="bank-11")
                                                .rdo-card
                                                    input#bank-12(type="radio", name="i-card-payment")
                                                    label.bank-12(for="bank-12")
                                                .rdo-card
                                                    input#bank-13(type="radio", name="i-card-payment")
                                                    label.bank-13(for="bank-13")
                                            .bank-list
                                                p.bank-ttl Thẻ tín dụng
                                                .rdo-card
                                                    input#bank-visa(type="radio", name="i-card-payment")
                                                    label.bank-visa(for="bank-visa")
                                                .rdo-card
                                                    input#bank-mastercard(type="radio", name="i-card-payment")
                                                    label.bank-mastercard(for="bank-mastercard")
                        // END: Payment method
                    .col-md-4.order-info
                        .order-content
                            h3.ttl Đơn hàng của bạn
                            .table-responsive
                                table.table.order-table
                                    thead
                                        tr
                                            th Sản phẩm
                                            th.text-right Tổng cộng
                                    tbody
                                        tr
                                            td
                                                p
                                                    strong 2
                                                    span x Asus GTX 1080Ti OC 11Gb
                                            td.text-right 47,000,000đ
                                        tr
                                            td
                                                p
                                                    strong 1
                                                    span x Asus GTX 1080Ti OC 11Gb
                                            td.text-right 23,500,000đ
                            .order-total
                                p.clearfix
                                    span.ttl Giảm giá
                                    span.val 10%
                                p.clearfix
                                    span.ttl Phí vận chuyển
                                    span.val 0,00
                                p.clearfix
                                    span.ttl Subtotal
                                    span.val 70,500,000đ
                                p.clearfix
                                    span.ttl Total
                                    span.val 63,450,000đ
                            .order-accept
                                .term-condition.c-chk
                                    input#accept-term(type="checkbox")
                                    label(for="accept-term") 
                                        | Tôi đã đọc và chấp nhận các 
                                        a(href="javascript:;") điều khoản và điều kiện 
                                        span *
                                button.accept.btn.btn-blue.d-block Đặt hàng
                    // END: Order info
        // END: Checkout content