block vars
    -title="Compare product"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-4.jpg');")
            .breadcrumb-list
                h3 So sánh sản phẩm
        .blk-content.compare-blk
            .container
                .table-responsive
                    table.table.table-compare
                        tr
                            td.td-xs 
                                p.comp-ttl Sản phẩm
                            td.td-eq.text-center
                                a.compare-img(href="#")
                                    img(src="uploads/products/main-2.jpg", alt="")
                                    span.name Asus ROG Zenith Extreme Gaming
                                    span.price 10,290,000đ
                                a.btn.btn-blue(href="#") 
                                    i.fa.fa-shopping-cart
                                a.btn.btn-red(href="#") 
                                    i.fa.fa-close
                            td.td-eq.text-center
                                a.compare-img(href="#")
                                    img(src="uploads/products/main-4.png", alt="")
                                    span.name Gigabyte Aorus X299 Gaming 7
                                    span.price 12,999,000đ
                                a.btn.btn-blue(href="#") 
                                    i.fa.fa-shopping-cart
                                a.btn.btn-red(href="#") 
                                    i.fa.fa-close
                            td.td-eq.text-center
                                a.btn.btn-blue(href="#") Thêm sản phẩm so sánh
                        tr
                            td.td-xs 
                                p.comp-ttl Hãng sản xuất
                            td.td-eq.text-center
                                p Asus
                            td.td-eq.text-center
                                p Gigabyte
                            td.td-eq.text-center
                        tr
                            td.td-xs 
                                p.comp-ttl CPU
                            td.td-eq 
                                p Supports New Intel® Core™ i7 Processors Extreme Edition for LGA 2011-3 Socket
                            td.td-eq
                                p Supports New Intel® Core™ i7 Processors Extreme Edition for LGA 2011-3 Socket
                            td.td-eq
                        tr
                            td.td-xs 
                                p.comp-ttl Chipset 
                            td.td-eq 
                                p Intel® X99 Express Chipset 
                            td.td-eq
                                p Intel® X99 Express Chipset 
                            td.td-eq
                        tr
                            td.td-xs 
                                p.comp-ttl Main Memory  
                            td.td-eq 
                                p Support eight DDR4 DIMMs
                                p 2133 / 2200(OC) / 2400(OC) / 2600(OC) / 2666(OC) / 2750(OC) / 2800(OC) / 3000(OC) / 3110(OC) / 3333(OC) / 3400(OC)DRAM (128GB Max)
                                p Supports Quad-Channel mode
                                p Supports non-ECC, un-buffered memory
                                p Supports Intel® Extreme Memory Profile (XMP)
                                p Supports RDIMM 1Rx8 memory module(Operates in non-ECC mode)
                            td.td-eq
                                p Support eight DDR4 DIMMs
                                p 2133 / 2200(OC) / 2400(OC) / 2600(OC) / 2666(OC) / 2750(OC) / 2800(OC) / 3000(OC) / 3110(OC) / 3333(OC) / 3400(OC)DRAM (128GB Max)
                                p Supports Quad-Channel mode
                                p Supports non-ECC, un-buffered memory
                                p Supports Intel® Extreme Memory Profile (XMP)
                                p Supports RDIMM 1Rx8 memory module(Operates in non-ECC mode)
                            td.td-eq
                        tr
                            td.td-xs 
                                p.comp-ttl VGA onboard
                            td.td-eq 
                                p Supports 4-Way AMD® CrossFire™ Technology*
                                p Supports 4-Way NVIDIA® SLI™ Technology (For the CPU that supports 40 PCIe lanes)
                                p Supports 3-Way NVIDIA® SLI™ Technology (For the CPU that supports 28 PCIe lanes)
                            td.td-eq
                                p Supports 4-Way AMD® CrossFire™ Technology*
                                p Supports 4-Way NVIDIA® SLI™ Technology (For the CPU that supports 40 PCIe lanes)
                                p Supports 3-Way NVIDIA® SLI™ Technology (For the CPU that supports 28 PCIe lanes)
                            td.td-eq
                        tr
                            td.td-xs 
                                p.comp-ttl Phụ kiện đi kèm
                            td.td-eq 
                            td.td-eq
                            td.td-eq
                        tr
                            td.td-xs 
                                p.comp-ttl Quà tặng
                            td.td-eq 
                            td.td-eq
                                p.promo-opt Khuyến mại tặng Tai nghe MSI 7.1 DS502 Gaming Dragon (TNMS001) áp dụng đến khi hết quà tặng
                            td.td-eq
                // END: Table compare
                .compare-comt
                    .review-frm
                        form
                            textarea.cmt-ipt(placeholder="Viết bình luận hoặc câu hỏi của bạn...")
                            button.btn.btn-blue Gửi bình luận
                    // END: Review form
                    .review-list
                        .review-itm
                            .review-author
                                span.auth-ava T
                                span.auth-name Toàn Nguyễn
                            .review-content
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            .review-action
                                a.reply-btn(href="#") Trả lời
                                span.time-post Đăng 5 phút trước
                            .review-reply
                                .reply-itm
                                    .reply-auth
                                        span.auth-ava P
                                        span.auth-name Phạm Hùng
                                        span.auth-role Quản trị viên
                                    .reply-content
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .reply-action
                                        a.reply-btn(href="#") Trả lời
                                        a.like(href="#") 
                                            i.fa.fa-thumbs-up
                                            | Hài lòng
                                        a.like(href="#") 
                                            i.fa.fa-thumbs-down
                                            | Không hài lòng
                                        span.time-post Đăng 5 phút trước
                                // END: Reply item
                                .reply-itm
                                    .reply-auth
                                        span.auth-ava P
                                        span.auth-name Phạm Hùng
                                        span.auth-role Quản trị viên
                                    .reply-content
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .reply-action
                                        a.reply-btn(href="#") Trả lời
                                        a.like(href="#") 
                                            i.fa.fa-thumbs-up
                                            | Hài lòng
                                        a.like(href="#") 
                                            i.fa.fa-thumbs-down
                                            | Không hài lòng
                                        span.time-post Đăng 5 phút trước
                                // END: Reply item
                                .reply-itm
                                    .reply-auth
                                        span.auth-ava P
                                        span.auth-name Phạm Hùng
                                        span.auth-role Quản trị viên
                                    .reply-content
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .reply-action
                                        a.reply-btn(href="#") Trả lời
                                        a.like(href="#") 
                                            i.fa.fa-thumbs-up
                                            | Hài lòng
                                        a.like(href="#") 
                                            i.fa.fa-thumbs-down
                                            | Không hài lòng
                                        span.time-post Đăng 5 phút trước
                                // END: Reply item
                        // END: Review item
                        .review-itm
                            .review-author
                                span.auth-ava T
                                span.auth-name Toàn Nguyễn
                            .review-content
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            .review-action
                                a.reply-btn(href="#") Trả lời
                                span.time-post Đăng 5 phút trước
                        // END: Review item
                        .review-itm
                            .review-author
                                span.auth-ava T
                                span.auth-name Toàn Nguyễn
                            .review-content
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            .review-action
                                a.reply-btn(href="#") Trả lời
                                span.time-post Đăng 5 phút trước
                        // END: Review item
                        .review-paging
                            a.disabled(href="#")
                                i.fa.fa-long-arrow-left
                            input(type="text", value="1")
                            a(href="#")
                                i.fa.fa-long-arrow-right
                // END: Compare comment