block vars
    -title="Contact Page"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-4.jpg');")
            .breadcrumb-list
                h3 Liên hệ
        .blk-content.contact-content
            .container
                .row
                    .col-md-6.contact-form
                        .inner-frm
                            h3.ttl Liên hệ với chúng tôi
                            form
                                .form-group
                                    label(for="fullname") 
                                        | Họ và tên:
                                        span.required-field *
                                    input#fullname.ipt(type="text", placeholder="Họ và tên")
                                .form-group
                                    label(for="email") 
                                        | Email:
                                        span.required-field *
                                    input#email.ipt(type="text", placeholder="Email")
                                .form-group
                                    label(for="title-contact") 
                                        | Tiêu đề:
                                        span.required-field *
                                    input#title-contact.ipt(type="text", placeholder="Tiêu đề")
                                .form-group
                                    label(for="contact-content") 
                                        | Nội dung:
                                        span.required-field *
                                    textarea#contact-content.ipt-area(placeholder="Nội dung")
                                .form-group
                                    button.btn.btn-blue Gửi
                    // END: Contact form
                    .col-md-6.contact-map
                        .gg-map#gg-map(data-lat="10.801083", data-lng="106.659619")
                        // END: Google map
                        .contact-address
                            h3.ttl Thông tin liên hệ
                            p 
                                span.title Địa chỉ:
                                span.val 132 Cộng Hòa, phường 4, quận Tân Bình, Tp Hồ Chí Minh
                            p
                                span.title Email:
                                a.val(href="mailto:tangostore@gmail.com") tangostore@gmail.com
                            p
                                span.title Điện thoại:
                                a.val(href="tel:0978 275 605") 0978 275 605
                            p
                                span.title Thời gian làm việc:
                                span.val 9:00 - 19:00 từ thứ hai đến chủ nhật