block vars
    -title="Home Page"
extends layouts/layout
block main
    .main-content
        .home-top-head
            .container
                .row
                    .col-md-3.h-top-itm
                        .h-t-content
                            a(href="#")
                                span.icon-serv.quality
                                span.serv-ct Hàng chính hãng
                    .col-md-3.h-top-itm
                        .h-t-content
                            a(href="#")
                                span.icon-serv.maintain
                                span.serv-ct Bảo hành tận nơi
                    .col-md-3.h-top-itm
                        .h-t-content
                            a(href="#")
                                span.icon-serv.shipping
                                span.serv-ct Miễn phí vận chuyển
                    .col-md-3.h-top-itm
                        .h-t-content
                            a(href="#")
                                span.icon-serv.return
                                span.serv-ct Đổi trả miễn phí
        // END: Home top header
        include blocks/home/main-slider.jade
        .container
            include blocks/home/promotion-prod.jade
        .page-breadcrumb.parallax-window(data-parallax="scroll", data-image-src="images/pc-bg-2.jpg")
        .container
            include blocks/home/pc-blk.jade
            include blocks/home/camera-blk.jade
        include blocks/home/brand-slider.jade
