block vars
    -title="Account Page"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-5.jpg');")
        .blk-content.login-regis
            .container
                .row
                    .col-md-6.login-blk
                        .blk-inner.login-blk
                            h3.ttl Đăng nhập
                            fomr.login-frm
                                .form-group
                                    label 
                                        | Email 
                                        span.required-field *
                                    input.ipt(type="text", placeholder="Email")
                                .form-group
                                    label 
                                        | Mật khẩu 
                                        span.required-field *
                                    input.ipt(type="password", placeholder="Mật khẩu")
                                .form-group
                                    .c-chk
                                        input#dif-address(type="checkbox")
                                        label(for="dif-address") Ghi nhớ tài khoản
                                .form-group
                                    button.btn.btn-blue Đăng nhập
                                    a.forgot-pass(href="#") Quên mật khẩu
                            .orther-login
                                a.btn.btn-red(href="#") Đăng nhập bằng Google
                                a.btn.btn-blue(href="#") Đăng nhập bằng Facebook
                    // END: Login block
                    .col-md-6.regis-blk
                        .blk-inner.regis-blk
                            h3.ttl Đăng ký tài khoản
                            p.note Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.
                            fomr.login-frm
                                .form-group
                                    label 
                                        | Email 
                                        span.required-field *
                                    input.ipt(type="text", placeholder="Email")
                                .form-group
                                    label 
                                        | Mật khẩu 
                                        span.required-field *
                                    input.ipt(type="password", placeholder="Mật khẩu")
                                .form-group
                                    label 
                                        | Xác nhận mật khẩu 
                                        span.required-field *
                                    input.ipt(type="password", placeholder="Mật khẩu")
                                .form-group
                                    label 
                                        | Họ và tên 
                                        span.required-field *
                                    input.ipt(type="text", placeholder="Họ và tên")
                                .form-group
                                    label 
                                        | Số điện thoại 
                                        span.required-field *
                                    input.ipt(type="text", placeholder="Số điện thoại")
                                .form-group
                                    label 
                                        | Địa chỉ
                                    input.ipt(type="text", placeholder="Địa chỉ")
                                .form-group
                                    button.btn.btn-blue Đăng ký
                    // END: Login block
        // END: Login and regis block