block vars
    -title="Product list"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-3.jpg');")
            .breadcrumb-list
                h3 Linh kiện máy tính
        .container
            .product-list-content
                .prod-cate.clearfix
                    .cate-list
                        span.ttl Danh mục sản phẩm:
                        select.cate-slt
                            option(value="") Danh mục sản phẩm
                            option(value="", selected) Mainboard - Bo mạch chủ
                            option(value="") CPU - Bộ vi xử lý
                            option(value="") VGA - Card đồ họa
                            option(value="") RAM - Bộ nhớ
                            option(value="") PSU - Nguồn máy tính
                            option(value="") Case - Vỏ máy tính
                            option(value="") SSD - Ổ cứng thể rắn
                            option(value="") HDD - Ổ cứng
                            option(value="") LCD - Màn hình máy tính
                            option(value="") Keyboard & mouse - Bàn phím, chuột
                    // END: Cate list
                    .filter-blk
                        .filter-inner
                            a.btn.btn-blue.open-filter(href="javascript:;") Bộ lọc sản phẩm
                            .filt-ct
                                .filt-ct-inner
                                    .ct-inner.clearfix.custom-scroll
                                        .filt-blk
                                            p.filt-ttl Hãng sản xuất
                                            .filt-el
                                                .c-rdo
                                                    input#asus(type="radio", name="filter-manifacture")
                                                    label(for="asus") Asus
                                            .filt-el
                                                .c-rdo
                                                    input#gigabyte(type="radio", name="filter-manifacture")
                                                    label(for="gigabyte") Gigabyte
                                            .filt-el
                                                .c-rdo
                                                    input#msi(type="radio", name="filter-manifacture")
                                                    label(for="msi") MSI
                                            .filt-el
                                                .c-rdo
                                                    input#asrock(type="radio", name="filter-manifacture")
                                                    label(for="asrock") Asrock
                                            .filt-el
                                                .c-rdo
                                                    input#intel(type="radio", name="filter-manifacture")
                                                    label(for="intel") Intel
                                        // END: Filter blk
                                        .filt-blk
                                            p.filt-ttl Khoảng giá
                                            .filt-el
                                                .c-rdo
                                                    input#more-8(type="radio", name="filter-price")
                                                    label(for="more-8") Trên 8 triệu
                                            .filt-el
                                                .c-rdo
                                                    input#4-to-8(type="radio", name="filter-price")
                                                    label(for="4-to-8") 4 triệu - 8 triệu
                                            .filt-el
                                                .c-rdo
                                                    input#2-to-4(type="radio", name="filter-price")
                                                    label(for="2-to-4") 2 triệu - 4 triệu
                                            .filt-el
                                                .c-rdo
                                                    input#less-2(type="radio", name="filter-price")
                                                    label(for="less-2") Dưới 2 triệu
                                        // END: Filter blk
                                        .filt-blk
                                            p.filt-ttl Chipset
                                            .filt-el
                                                .c-rdo
                                                    input#z370(type="radio", name="filter-chipset")
                                                    label(for="z370") Intel Z370
                                            .filt-el
                                                .c-rdo
                                                    input#x99(type="radio", name="filter-chipset")
                                                    label(for="x99") Intel X99
                                            .filt-el
                                                .c-rdo
                                                    input#amd-x399(type="radio", name="filter-chipset")
                                                    label(for="amd-x399") AMD X399
                                            .filt-el
                                                .c-rdo
                                                    input#z270(type="radio", name="filter-chipset")
                                                    label(for="z270") Intel Z270
                                        // END: Filter blk
                                        .filt-blk
                                            p.filt-ttl Kích thước
                                            .filt-el
                                                .c-rdo
                                                    input#itx(type="radio", name="filter-size")
                                                    label(for="itx") ITX
                                            .filt-el
                                                .c-rdo
                                                    input#atx(type="radio", name="filter-size")
                                                    label(for="atx") ATX
                                            .filt-el
                                                .c-rdo
                                                    input#m-atx(type="radio", name="filter-size")
                                                    label(for="m-atx") M-ATX
                                            .filt-el
                                                .c-rdo
                                                    input#e-atx(type="radio", name="filter-size")
                                                    label(for="e-atx") E-ATX
                                        // END: Filter blk
                                        .filt-blk
                                            p.filt-ttl Socket
                                            .filt-el
                                                .c-rdo
                                                    input#am4(type="radio", name="filter-socket")
                                                    label(for="am4") AM4
                                            .filt-el
                                                .c-rdo
                                                    input#tr4(type="radio", name="filter-socket")
                                                    label(for="tr4") TR4
                                            .filt-el
                                                .c-rdo
                                                    input#1151(type="radio", name="filter-socket")
                                                    label(for="1151") 1151
                                            .filt-el
                                                .c-rdo
                                                    input#2011(type="radio", name="filter-socket")
                                                    label(for="2011") 2011
                                            .filt-el
                                                .c-rdo
                                                    input#2066(type="radio", name="filter-socket")
                                                    label(for="2066") 2066
                                            .filt-el
                                                .c-rdo
                                                    input#amd(type="radio", name="filter-socket")
                                                    label(for="amd") AMD
                                        // END: Filter blk
                                .filt-ft.text-right
                                    a.btn.btn-blue(href="javascript:;") Xem kết quả
                                    a.btn.btn-red.close-filter(href="javascript:;") Đóng
                // END: Prod cate
                .prod-grid
                    .grid-head.clearfix
                        //- h3.text-uppercase Mainboard
                        .grid-head-ct
                            select
                                option Show 8
                                option Show 12
                                option Show 16
                                option Show 20
                                option Show all
                            select
                                option Sản phẩm mới nhất
                                option Giá cao đến thấp
                                option Giá thấp đến cao
                                option Tên A đến Z
                                option Xem nhiều nhất
                                option Nhận xét nhiều nhất
                            .paging
                                a.prev-btn.disabled(href="javascript:;")
                                    i.fa.fa-long-arrow-left
                                input(type="text", value="1")
                                a.next-btn(href="javascript:;")
                                    i.fa.fa-long-arrow-right
                    .grid-list
                        .row
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-increase
                                            span Giảm 10%
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-3.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center 7,690,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-increase
                                            span Giảm 10%
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-2.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-increase
                                            span Giảm 10%
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-2.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.out-stock
                                            span Hết hàng
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-2.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-increase
                                            span Giảm 10%
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-2.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-increase
                                            span Giảm 10%
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-6.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-gift
                                            span Quà tặng
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-5.jpg", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                            .grid-itm.col-md-3
                                .grid-itm-inner
                                    .km-blk
                                        p.has-increase
                                            span Giảm 10%
                                    .prod-func
                                        a(href="#")
                                            i.fa.fa-heart-o
                                        a(href="#")
                                            i.fa.fa-exchange
                                    .prod-img
                                        img(src="uploads/products/main-4.png", alt="")
                                    .prod-capt
                                        h3.prod-ttl.text-center Gigabyte X299 Aorus Gaming 3 Socket 2066
                                        p.prod-code.text-center SKU: 5487FB8/13
                                        p.price.text-center.decrease 
                                            span.old 7,690,000đ
                                            span.new 6,921,000đ
                                        p.brief-info Support for Intel Core X series processors LCA2066 package.
                                        p.brief-info Intel X299 Express Chipset.
                                        p.brief-info 8 x DDR4 sockets supporting up to 128 GB of memory system.
                                    
                                    a.btn.btn-blue.d-block(href="#") Thêm vào giỏ hàng
                            // END: Grid item
                    .ft-paging.clearfix
                        .paging
                            a.prev-btn.disabled(href="javascript:;")
                                i.fa.fa-long-arrow-left
                            input(type="text", value="1")
                            a.next-btn(href="javascript:;")
                                i.fa.fa-long-arrow-right