block vars
    -title="Product detail"
extends layouts/layout
block main
    .main-content
        .prod-detail
            .container
                .single-prod-wrap
                    .row
                        .col-md-5
                            .prod-gallery
                                ul#imageGallery
                                    li(data-thumb='uploads/products/main-1.png', data-src='uploads/products/main-1.png')
                                        img(src='uploads/products/main-1.png')
                                    li(data-thumb='uploads/products/main-2.jpg', data-src='uploads/products/main-2.jpg')
                                        img(src='uploads/products/main-2.jpg')
                                    li(data-thumb='uploads/products/main-3.jpg', data-src='uploads/products/main-3.jpg')
                                        img(src='uploads/products/main-3.jpg')
                                    li(data-thumb='uploads/products/main-4.png', data-src='uploads/products/main-4.png')
                                        img(src='uploads/products/main-4.png')
                                    li(data-thumb='uploads/products/main-5.jpg', data-src='uploads/products/main-5.jpg')
                                        img(src='uploads/products/main-5.jpg')
                            // END: Product detail gallery
                        .col-md-7.prod-intro
                            .prod-into-inner
                                .head-intro
                                    h1.prod-name MSI X399 Gaming Pro Carbon AC
                                    span.prod-code Mã sản phẩm: SKU: 5487FB8/13
                                    a.add-wish(href="#")
                                        i.fa.fa-heart-o
                                    .social-link
                                        a.social-itm(href="#")
                                            i.fa.fa-facebook
                                        a.social-itm(href="#")
                                            i.fa.fa-twitter
                                        a.social-itm(href="#")
                                            i.fa.fa-google-plus
                                        a.social-itm(href="#")
                                            i.fa.fa-pinterest
                                .intro-content
                                    .content-itm
                                        p
                                            span.ttl Đánh giá:
                                            span.val 4.5/5
                                        p
                                            span.ttl Lượt xem:
                                            span.val 100 lượt
                                        p
                                            span.ttl Bình luận:
                                            span.val 4
                                    .content-itm   
                                        p
                                            span.ttl Trạng thái:
                                            span.val Còn hàng
                                    .content-itm   
                                        p
                                            span.ttl Bảo hành:
                                            span.val 36 tháng 
                                    .content-itm   
                                        p
                                            span.ttl Giao hàng:
                                        p.val - Miễn phí giao hàng (Trong bán kính 20 km) cho đơn hàng từ 500.000 đ trở lên (Chi tiết) 
                                        p.val - Miễn phí giao hàng 300 km đối với khách hàng Games Net, Doanh Nghiệp, Dự Án 
                                        p.val - Nhận giao hàng và lắp đặt từ 8h00 - 20h30 các ngày kể cả ngày lễ, thứ 7, CN 
                                    .price-blk
                                        span.old-price 13,299,000đ
                                        h3.price 11,299,000đ
                                    .promotion-blk
                                        p.promo-ttl Quà tặng/ khuyến mãi
                                        p.promo-ct Giảm 10% giá trị sản phẩm
                                .prod-btn
                                    a.btn.btn-blue(href="#") 
                                        span Đặt mua ngay
                                    a.btn.btn-blue(href="#") 
                                        span Thêm vào giỏ hàng
                                    a.btn.btn-blue(href="#") 
                                        span Thêm vào so sánh
                                .tags-list
                                    span.ttl Tags:
                                    a.tag-itm(href="#") Z370 Chipset
                                    a.tag-itm(href="#") AMD Threadripper
                                    a.tag-itm(href="#") Z370 Chipset
                                    a.tag-itm(href="#") Z370 Chipset
                            // END: Product intro inner
                    .prod-detail-tab
                        
                            .left-tab
                                ul#prod-detail-tab.nav.nav-tabs.custom-tab(role='tablist')
                                    li.nav-item
                                        a#overview-tab.nav-link.active(data-toggle='tab', href='#overview', role='tab', aria-controls='overview', aria-selected='true') Giới thiệu
                                    li.nav-item
                                        a#spec-tab.nav-link(data-toggle='tab', href='#specification', role='tab', aria-controls='specification', aria-selected='false') Thông số kỹ thuật
                                    li.nav-item
                                        a#review-tab.nav-link(data-toggle='tab', href='#review', role='tab', aria-controls='review', aria-selected='false') Đánh giá
                                 #prod-detail-tab-content.tab-content.custom-tab-ct
                                    #overview.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='overview')
                                        img(src="uploads/products/main-2.jpg", alt="")
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                        p  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        img(src="uploads/products/main-3.jpg", alt="")
                                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        img(src="uploads/products/main-6.jpg", alt="")
                                        p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                    // END: Overview tab
                                    #specification.tab-pane.fade(role='tabpanel', aria-labelledby='overview')
                                        .table-responsive
                                            table.table
                                                tbody
                                                    tr
                                                        td.td-ttl
                                                            p Tên sản phẩm
                                                        td.td-val
                                                            p MSI X399 Gaming Pro Carbon AC
                                                    tr
                                                        td.td-ttl
                                                            p Chipset / Socket
                                                        td.td-val
                                                            p Intel® X299 Express Chipset / Intel Socket 2066
                                                    tr
                                                        td.td-ttl
                                                            p CPU hỗ trợ
                                                        td.td-val
                                                            p Intel® Core™ X series processors in the LGA2066 package
                                                    tr
                                                        td.td-ttl
                                                            p Bộ nhớ (RAM)	
                                                        td.td-val
                                                            p Intel® Core™ X-series Processors (6-core above CPU 78XX/79XX)
                                                            p • 8 x DDR4 memory slots, support up to 128GB*
                                                            p • Quad channel memory architecture with the CPU that supports up to 4-channels DDR4**
                                                            p - X-series processor support DDR4 4133+(OC) / 4000(OC) / 3866(OC)/3800(OC)/3733(OC)/3600(OC)/3466(OC)/ 3400(OC)/3333(OC)/3200(OC)/3000(OC)/2933(OC)/2800(OC)/2667/2400/2133 MHz*

                                                            p Intel® Core™ X-series Processors (4 core CPU i7-7740X/i5-7640X)
                                                            p • 4 x DDR4 memory slots, support up to 64GB*
                                                            p • Dual channel memory architecture with the CPU that supports up to 2-channels DDR4**
                                                            p - X-series processor support DDR4 4500+(OC) / 4400(OC) / 4333(OC) / 4266(OC) / 4200(OC) / 4133(OC) / 4000(OC) / 3866(OC) / 3800(OC) / 3733(OC) / 3600(OC) / 3466(OC) / 3400(OC) / 3333(OC) / 3200(OC) / 3000(OC) / 2933(OC) / 2800(OC) / 2667 / 2400 / 2133 MHz*

                                                            p • Supports Intel® Extreme Memory Profile (XMP)
                                                            p * For the latest information about memory, please visit http://www.msi.com
                                                            p ** Please refer the DIMM Slots section for more details.
                                                    tr
                                                        td.td-ttl
                                                            p Khe cắm mở rộng
                                                        td.td-val
                                                            p • 4 x PCIe 3.0 x16 slots
                                                            p - Support x16/ x4/ x16/ x8 mode with the 44-lane CPU.
                                                            p - Support x16/ x4/ x8/ x0,x8/ x4/ x8/ x8 modes with the 28-lane CPU.
                                                            p - Support x8/ x0/ x8/ x0, x8/ x4/ x4/ x0 modes with the 16-lane CPU.
                                                            p • 2 x PCIe 3.0 x1 slots
                                                            p • 8 x SATA 6Gb/s ports*
                                                            p • 2 x M.2 slots (Key M)*
                                                            p - Supports up to PCIe 3.0 x4 and SATA 6Gb/s
                                                            p - M2_1 slot supports 2242/ 2260 /2280 storage devices
                                                            p - M2_2 slot supports 2242/ 2260 /2280/ 22110 storage devices
                                                            p - Intel® Optane™ Memory Ready**
                                                            p • 1 x U.2 port *
                                    // END: Spec tab
                                    #review.tab-pane.fade(role='tabpanel', aria-labelledby='review')
                                        .review-head
                                            h3.r-h-ttl Khách hàng đánh giá sản phẩm MSI X399 Gaming Pro Carbon AC
                                            .review-total-p
                                                .row
                                                    .col-md-8
                                                        .five-star.r-star-blk
                                                            span.star-numb
                                                                | 5
                                                                i.fa.fa-star
                                                            .progress
                                                                .progress-bar(role="progressbar", style="width: 25%;", aria-valuenow="25", aria-valuemin="0", aria-valuemax="100")
                                                            span.r-percent 25%
                                                        // END: Review star block
                                                        .five-star.r-star-blk
                                                            span.star-numb
                                                                | 4
                                                                i.fa.fa-star
                                                            .progress
                                                                .progress-bar(role="progressbar", style="width: 45%;", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100")
                                                            span.r-percent 45%
                                                        // END: Review star block
                                                        .five-star.r-star-blk
                                                            span.star-numb
                                                                | 3
                                                                i.fa.fa-star
                                                            .progress
                                                                .progress-bar(role="progressbar", style="width: 5%;", aria-valuenow="5", aria-valuemin="0", aria-valuemax="100")
                                                            span.r-percent 5%
                                                        // END: Review star block
                                                        .five-star.r-star-blk
                                                            span.star-numb
                                                                | 2
                                                                i.fa.fa-star
                                                            .progress
                                                                .progress-bar(role="progressbar", style="width: 15%;", aria-valuenow="15", aria-valuemin="0", aria-valuemax="100")
                                                            span.r-percent 15%
                                                        // END: Review star block
                                                        .five-star.r-star-blk
                                                            span.star-numb
                                                                | 1
                                                                i.fa.fa-star
                                                            .progress
                                                                .progress-bar(role="progressbar", style="width: 10%;", aria-valuenow="10", aria-valuemin="0", aria-valuemax="100")
                                                            span.r-percent 10%
                                                        // END: Review star block
                                                    .col-md-4.vote-star
                                                        p.ttl Đánh giá sản phẩm
                                                        .c-rdo
                                                            input#5-star(type="radio", name="rdo-star")
                                                            label(for="5-star")
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                        .c-rdo
                                                            input#4-star(type="radio", name="rdo-star")
                                                            label(for="4-star")
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star
                                                        .c-rdo
                                                            input#3-star(type="radio", name="rdo-star")
                                                            label(for="3-star")
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star
                                                                span.fa.fa-star
                                                        .c-rdo
                                                            input#2-star(type="radio", name="rdo-star")
                                                            label(for="2-star")
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star
                                                                span.fa.fa-star
                                                                span.fa.fa-star
                                                        .c-rdo
                                                            input#1-star(type="radio", name="rdo-star")
                                                            label(for="1-star")
                                                                span.fa.fa-star.active
                                                                span.fa.fa-star
                                                                span.fa.fa-star
                                                                span.fa.fa-star
                                                                span.fa.fa-star
                                        // END: Review head
                                        .review-frm
                                            form
                                                textarea.cmt-ipt(placeholder="Viết bình luận hoặc câu hỏi của bạn...")
                                                button.btn.btn-blue Gửi bình luận
                                        // END: Review form
                                        .review-list
                                            .review-itm
                                                .review-author
                                                    span.auth-ava T
                                                    span.auth-name Toàn Nguyễn
                                                .review-content
                                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                .review-action
                                                    a.reply-btn(href="#") Trả lời
                                                    span.time-post Đăng 5 phút trước
                                                .review-reply
                                                    .reply-itm
                                                        .reply-auth
                                                            span.auth-ava P
                                                            span.auth-name Phạm Hùng
                                                            span.auth-role Quản trị viên
                                                        .reply-content
                                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                        .reply-action
                                                            a.reply-btn(href="#") Trả lời
                                                            a.like(href="#") 
                                                                i.fa.fa-thumbs-up
                                                                | Hài lòng
                                                            a.like(href="#") 
                                                                i.fa.fa-thumbs-down
                                                                | Không hài lòng
                                                            span.time-post Đăng 5 phút trước
                                                    // END: Reply item
                                                    .reply-itm
                                                        .reply-auth
                                                            span.auth-ava P
                                                            span.auth-name Phạm Hùng
                                                            span.auth-role Quản trị viên
                                                        .reply-content
                                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                        .reply-action
                                                            a.reply-btn(href="#") Trả lời
                                                            a.like(href="#") 
                                                                i.fa.fa-thumbs-up
                                                                | Hài lòng
                                                            a.like(href="#") 
                                                                i.fa.fa-thumbs-down
                                                                | Không hài lòng
                                                            span.time-post Đăng 5 phút trước
                                                    // END: Reply item
                                                    .reply-itm
                                                        .reply-auth
                                                            span.auth-ava P
                                                            span.auth-name Phạm Hùng
                                                            span.auth-role Quản trị viên
                                                        .reply-content
                                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                        .reply-action
                                                            a.reply-btn(href="#") Trả lời
                                                            a.like(href="#") 
                                                                i.fa.fa-thumbs-up
                                                                | Hài lòng
                                                            a.like(href="#") 
                                                                i.fa.fa-thumbs-down
                                                                | Không hài lòng
                                                            span.time-post Đăng 5 phút trước
                                                    // END: Reply item
                                            // END: Review item
                                            .review-itm
                                                .review-author
                                                    span.auth-ava T
                                                    span.auth-name Toàn Nguyễn
                                                .review-content
                                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                .review-action
                                                    a.reply-btn(href="#") Trả lời
                                                    span.time-post Đăng 5 phút trước
                                            // END: Review item
                                            .review-itm
                                                .review-author
                                                    span.auth-ava T
                                                    span.auth-name Toàn Nguyễn
                                                .review-content
                                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                .review-action
                                                    a.reply-btn(href="#") Trả lời
                                                    span.time-post Đăng 5 phút trước
                                            // END: Review item
                                            .review-paging
                                                a.disabled(href="#")
                                                    i.fa.fa-long-arrow-left
                                                input(type="text", value="1")
                                                a(href="#")
                                                    i.fa.fa-long-arrow-right
                                    // END: Review tab
                            .related-prod
                                h3.related-ttl Sản phẩm liên quan
                                .relate-content.owl-carousel#related-prod
                                    .relate-itm
                                        a(href="#")
                                            .relate-inner
                                                .relate-img
                                                    img(src="uploads/products/ram-1.jpg", alt="")
                                                .relate-capt.text-center
                                                    h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                                    p.price 3,000,000
                                    // END: Related item
                                    .relate-itm
                                        a(href="#")
                                            .relate-inner
                                                .relate-img
                                                    img(src="uploads/products/ram-2.jpg", alt="")
                                                .relate-capt.text-center
                                                    h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                                    p.price 3,000,000
                                    // END: Related item
                                    .relate-itm
                                        a(href="#")
                                            .relate-inner
                                                .relate-img
                                                    img(src="uploads/products/ram-3.jpg", alt="")
                                                .relate-capt.text-center
                                                    h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                                    p.price 3,000,000
                                    // END: Related item
                                    .relate-itm
                                        a(href="#")
                                            .relate-inner
                                                .relate-img
                                                    img(src="uploads/products/ram-4.jpg", alt="")
                                                .relate-capt.text-center
                                                    h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                                    p.price 3,000,000
                                    // END: Related item
                                    .relate-itm
                                        a(href="#")
                                            .relate-inner
                                                .relate-img
                                                    img(src="uploads/products/ram-5.jpg", alt="")
                                                .relate-capt.text-center
                                                    h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                                    p.price 3,000,000
                                    // END: Related item
                                    .relate-itm
                                        a(href="#")
                                            .relate-inner
                                                .relate-img
                                                    img(src="uploads/products/ram-6.jpg", alt="")
                                                .relate-capt.text-center
                                                    h4.ttl GSkill Trident Z 16GB (2 x 8GB) Bus 3000
                                                    p.price 3,000,000
                                    // END: Related item
                            // END: Related prod