block vars
    -title="Wishlist"
extends layouts/layout
block main
    .main-content
        .page-breadcrumb(style="background-image: url('images/pc-bg-6.jpg');")
            .breadcrumb-list
                h3 Sản phẩm yêu thích
        .blk-content.wishlist-content
            .container
                .table-responsive
                    table.table.wish-tb
                        thead
                            tr
                                th Sản phẩm
                                th Giá
                                th Trạng thái
                                th 
                        tbody
                            tr
                                td
                                    img.wish-img(src="uploads/products/ram-1.jpg", alt="")
                                    h3.wish-name GSkill Trident Z RGB 16GB (2 x 8GB) Bus 3000
                                td
                                    p.price-prod 5,200,000đ
                                td
                                    p.prod-status.in-stock Còn hàng
                                td
                                    a.btn.btn-blue(href="#")
                                        i.fa.fa-shopping-cart
                                    a.btn.btn-red(href="#")
                                        i.fa.fa-trash
                            // END: Wishlist item
                            tr
                                td
                                    img.wish-img(src="uploads/products/ram-2.jpg", alt="")
                                    h3.wish-name GSkill Trident Z RGB 16GB (2 x 8GB) Bus 3000
                                td
                                    p.price-prod 
                                        span.old-price 5,200,000đ
                                        span.new-price 4,200,000đ
                                td
                                    p.prod-status.out-stock Hết hàng
                                td
                                    a.btn.btn-blue(href="#")
                                        i.fa.fa-shopping-cart
                                    a.btn.btn-red(href="#")
                                        i.fa.fa-trash
                            // END: Wishlist item
                            tr
                                td
                                    img.wish-img(src="uploads/products/ram-3.jpg", alt="")
                                    h3.wish-name GSkill Trident Z RGB 16GB (2 x 8GB) Bus 3000
                                td
                                    p.price-prod 5,200,000đ
                                td
                                    p.prod-status.in-stock Còn hàng
                                td
                                    a.btn.btn-blue(href="#")
                                        i.fa.fa-shopping-cart
                                    a.btn.btn-red(href="#")
                                        i.fa.fa-trash
                            // END: Wishlist item
                            tr
                                td
                                    img.wish-img(src="uploads/products/ram-4.jpg", alt="")
                                    h3.wish-name GSkill Trident Z RGB 16GB (2 x 8GB) Bus 3000
                                td
                                    p.price-prod 5,200,000đ
                                td
                                    p.prod-status.in-stock Còn hàng
                                td
                                    a.btn.btn-blue(href="#")
                                        i.fa.fa-shopping-cart
                                    a.btn.btn-red(href="#")
                                        i.fa.fa-trash
                            // END: Wishlist item
                .share-list
                    strong Chia sẻ: 
                    a.share-itm(href="#")
                        i.fa.fa-facebook
                    a.share-itm(href="#")
                        i.fa.fa-twitter
                    a.share-itm(href="#")
                        i.fa.fa-pinterest
                    a.share-itm(href="#")
                        i.fa.fa-google-plus
                    a.share-itm(href="#")
                        i.fa.fa-envelope