/*
 *
 * PC Build css
 *
*/ 

.step-inner {
    >.ttl {
        position: relative;
        border-bottom: 1px solid #ddd;
        font-size: 18px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        .ignore-step {
            position: absolute;
            right: 0px;
            top: -5px;
            font-weight: 400;
            font-size: 12px;
            padding: 5px 8px;
        }
    }
}

.filter-step {
    .filt-blk {
        padding: 10px 0;
        .filt-ttl {
            font-weight: 600;
            font-size: 16px;
        }
    }
}

.prod-list-table {
    img {
        width: 120px;
    }

    .prod-inf {
        a {
            font-size: 18px;
            display: inline-block;
            margin-bottom: 10px;
            color: @blue;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-bottom: 5px;
        }
        .ttl {
            font-weight: 600;
        }
        .val {
            &.out-stock{
                color: @red;
            }
        }
    }

    .select-prod {
        .price {
            font-size: 16px;
            color: @green;
        }
        .btn {
            padding: 5px 10px;
        }
    }
}

.table-paging {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-bottom: 15px;
    .paging {
        a {
            height: 34px;
            width: 34px;
            line-height: 36px;
        }
        input {
            height: 35px;
            border-color: #ddd;
        }
    }
}

.prod-sort {
    margin-bottom: 15px;
    span {
        font-weight: 600;
    }
    select {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 32px;
        margin-left: 10px;
        padding: 0 5px;
    }
}

.choose-content {
    h3 {
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 15px;
        position: relative;
        cursor: pointer;
        i {
            position: absolute;
            right: 0;
            top: 3px;
        }
        &.closed {
            i {
                &:before {
                    content: '\f077';
                }
            }
        }
    }
    .choose-inner {
        &.closed {
            display: none;
        }
    }
}

.choose-itm {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    .type {
        font-weight: 600;
        font-size: 16px;
    }
    .name {
        color: @blue;
        display: inline-block;
        margin-bottom: 8px;
        &:hover {
            text-decoration: underline;
        }
    }
    .price {
        color: @red;
    }
    .btn {
        margin-right: 10px;
        padding: 5px 15px;
    }
}

.choose-footer {
    .total-price{
        .ttl {
            font-weight: 600;
            display: inline-block;
            margin-right: 5px;
        }
        .val {
            font-size: 16px;
        }
    }
    .btn {
        margin-right: 10px;
        padding: 5px 15px;
    }
}

.build-pc-ct {
    .related-prod {
        margin-top: 30px;
    }
}

.build-tb {
    .intro {
        font-weight: 600;
        font-size: 16px;
        margin: 30px 0 10px 0;
    }
    .ipt {
        width: 80px;
        text-align: center;
    }
    .part-name {
        display: inline-block;
        color: @blue;
        margin-bottom: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        margin-bottom: 5px;
    }
    .del-itm {
        color: #bbb;
        font-size: 20px;
        &:hover {
            color: @red;
        }
    }
    .price {
        &.old-price {
            text-decoration: line-through;
            color: #bbb;
            font-size: 12px;
        }
    }
    .new-price {
        font-weight: 600;
    }
    .total-build {
        p {
            font-weight: 600;
            font-size: 16px;
        }
    }
}

.build-info {
    p {
        margin-bottom: 5px;
        .ttl {
            font-weight: 600;
            display: inline-block;
            width: 85px;
        }
    }
}

.build-head {
    margin-bottom: 20px;
    .ttl {
        margin-bottom: 10px;
    }
    .date {
        margin-bottom: 0;
        color: #bbb;
    }
}

.build-ft {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    // margin-top: 15px;
    .btn {
        margin-right: 15px;
    }
}