/*
 *
 * Compare css
 *
*/ 

.td-xs {
    width: 10%;
}
.td-eq {
    width: 30%;
    .btn {
        margin-right: 10px;
    }
    .promo-opt {
        color: @green;
    }
}
.comp-ttl {
    font-weight: 600;
    font-size: 16px;
}

.compare-img {
    text-align: center;
    display: inline-block;
    padding: 15px;
    img {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    span {
        display: block;
        margin-bottom: 10px;
    }
    .name {
        font-weight: 600;
        font-size: 18px;
    }
    .price {
        color: @red;
        font-size: 16px;
        font-weight: 600;
    }
}

.compare-comt  {
    margin-top: 30px;
}