/*
 *
 * Contact css
 *
*/ 

.gg-map {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}

.contact-address {
    .ttl {
        margin-bottom: 20px;
        font-size: 20px;
        position: relative;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        &:before {
            content: '';
            display: block;
            width: 120px;
            height: 2px;
            background-color: @blue;
            position: absolute;
            left: 0px;
            bottom: 0;
        }
    }
    .title {
        display: inline-block;
        width: 120px;
        font-weight: 600;
        margin-right: 10px;
    }
    a {
        &.val {
            color: @blue;
            text-decoration: underline;
        }
    }
}

.inner-frm {
    .ttl {
        margin-bottom: 20px;
        font-size: 20px;
        position: relative;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        &:before {
            content: '';
            display: block;
            width: 120px;
            height: 2px;
            background-color: @blue;
            position: absolute;
            left: 0px;
            bottom: 0;
        }
    }
}

#inf-content {
    border-radius: 3px;
    h3 {
        font-size: 18px;
    }
    p {
        margin-bottom: 5px;
        strong {
            display: inline-block;
            margin-right: 10px;
            font-weight: 600;
        }
        a {
            color: @blue;
            text-decoration: underline;
        }
    }
}