.key-mouse-blk
    .prod-slider.owl-carousel#key-mouse-slide
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .km-block
                        p.has-gift
                            i.fa.fa-gift
                            span Quà tặng
                    .prod-img
                        img(src="uploads/products/mouse-1.jpg", alt="RAM GSkill Trident Z RGB 16GB Bus 3000 (2x8GB)", title="RAM GSkill Trident Z RGB 16GB Bus 3000 (2x8GB)")
                    .prod-capt
                        h3 RAM GSkill Trident Z RGB 16GB Bus 3000 (2x8GB)
                        p.price 5,590,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .km-block
                        p.has-increase
                            i.fa.fa-dollar-sign
                            span Giảm 10%
                    .prod-img
                        img(src="uploads/products/mouse-2.jpg", alt="Alienware 24.5\" AW2518HF FHD 240Hz 1ms FreeSync Gaming Monitor", title="Alienware 24.5\" AW2518HF FHD 240Hz 1ms FreeSync Gaming Monitor")
                    .prod-capt
                        h3 Alienware 24.5" AW2518HF FHD 240Hz 1ms FreeSync Gaming Monitor
                        p.price.price-down
                            span.old 10,990,000đ
                            span.new 9,891,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/mouse-3.jpg", alt="Asus Z270 MAXIMUS IX CODE - LGA 1151", title="Asus Z270 MAXIMUS IX CODE - LGA 1151")
                    .prod-capt
                        h3 Asus Z270 MAXIMUS IX CODE - LGA 1151
                        p.price 6,700,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/key-1.png", alt="Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue", title="Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue")
                    .prod-capt
                        h3 Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue
                        p.price 4,900,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/key-2.jpg", alt="Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue", title="Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue")
                    .prod-capt
                        h3 Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue
                        p.price 4,900,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/key-3.jpg", alt="Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue", title="Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue")
                    .prod-capt
                        h3 Corsair Crystal Series 570X RGB Tempered Glass ATX lcd - Blue
                        p.price 4,900,000đ
        // END: Product item