/**
 * Base settings
 *
 * Description: fast setting for bootstrap and rules. Use to store variable that use in <selectors> and <mixins>
 */


//** ------ {{ color and cusotmiaztion variables }} ------------------------------------
//** application color table
@blue: #0063d1;
@red: #e14546;
@green: #62ab00;
@yellow: #fed700;
@yell_green: #bfd630;
@grey: #b3b3b3;

/** --------------------------------------- **/
/**
 * SET UP WHOLE SITE
 */
body {
    background: #fff;
    color: #444;
    // font-family: "Open sans", Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
a {
    color: #444;
    outline: none;
    text-decoration: none;
    &:hover{
        color:#333;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.t-r { text-align: right; }
.t-l { text-align: left; }
.t-c { text-align: center; }
.f-l { float: left; }
.f-r { float: right; }
.nav {
    li {
        display: inline-block;
    }
}
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

ul { margin: 0; padding: 0;
    li{
        list-style: none;
    }
}

a, button, input, select, textarea {
    outline: none;
}

.container {
    max-width: 1360px;
}
