/*
 *
 * Custome css
 *
*/ 

// Tab
.custom-tab {
    .nav-item {
        margin-bottom: 0;
    }
    .nav-link {
        border: none;
        border-radius: 0;
        color: @grey;
        position: relative;
        line-height: 42px;
        font-size: 16px;
        padding: 0 1rem;
        &:before {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background-color: @blue;
            position: absolute;
            left: 50%;
            top: 41px;
            .transition(all .4s ease);
            .transform(translateX(-50%));
        }
        &:hover {
            color: #444;
        }
        &.active {
            font-weight: 500;
            // font-size: 20px;
            background-color: transparent;
            color: #000;
            &:before {
                width: 50%;
            }
        }
    }
}

.custom-tab-ct {
    padding: 15px 0;
}

// Breadcrumb
.page-breadcrumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
    }
    .breadcrumb-list {
        position: relative;
        color: #fff;
        h3 {
            line-height: 200px;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}


// Input, textarea, button
.ipt {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px 10px;
    &:focus, &:active {
        border-color: @blue;
    }
    &.err {
        border-color: @red;
    }
    &.success {
        border-color: @green;
    }
}
.ipt-area {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 100px;
    width: 100%;
    &:active, &:focus {
        border-color: @blue;
    }
    &.err {
        border-color: @red;
    }
    &.success {
        border-color: @green;
    }
}

a {
    &.btn {
        color: #fff;
    }
}
.btn {
    display: inline-block;
    padding: 8px 15px;
    color: #fff;
    background-color: #c5c5c5;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    .transition(all .4s ease);
    &:hover {
        background-color: darken(#c5c5c5, 5%);
    }
    &.btn-blue {
        background-color: @blue;
        &:hover {
            background-color: darken(@blue, 5%);
        }
    }
    &.btn-red {
        background-color: @red;
        &:hover {
            background-color: darken(@red, 5%);
        }
    }
    &.btn-green {
        background-color: @green;
        &:hover {
            background-color: darken(@green, 5%);
        }
    }
    &.d-block {
        width: 100%;
    }
}

// Custom form 
.form-group {
    label {
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
        .required-field {
            color: @red;
        }
    }
}

//  Custom checkbox, radio button
.c-chk {
    position: relative;
    input[type="checkbox"] {
        display: none;
    }

    label {
        display: inline-block;
        padding-left: 30px;
        // font-size: 16px;
        cursor: pointer;
        font-weight: 600;
        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #b3b2b2;
            border-radius: 3px;
            position: absolute;
            left: 0;
        }
        &:after {
            content: '';
            display: none;
            background-image: url('../images/check.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    input[type="checkbox"]:checked + label {
        &:before {
            border-color: @blue;
            background-color: @blue;
        }
        &:after {
            display: block;
        }
    }
}

.c-rdo {
    margin-bottom: 10px;
    position: relative;
    input[type="radio"] {
        display: none;
    }
    label {
        // font-size: 16px;
        cursor: pointer;
        padding-left: 30px;
        font-weight: 600;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid #b3b2b2;
            display: block;
            border-radius: 100%;
            position: absolute;
            left: 0;
            // top: 1px;
        }
        &:after {
            content: '';
            display: none;
            width: 20px;
            height: 20px;
            position: absolute;
            // background-image: url('../images/checked.png');
            // background-repeat: no-repeat;
            // background-size: 20px;
            left: 0px;
            top: 0px;
            background-color: #EE5838;
            .transform(scale(.5));
            border-radius: 100%;
        }
    }
    input[type="radio"]:checked + label {
        &:after {
            display: block;
        }
        &:before {
            border-color: #EE5838;
        }
    }
}

// Block content
.blk-content {
    margin-bottom: 50px;
}

// Label
.prod-status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    margin: 0;
    color: #fff;
    font-size: 12px;
    cursor: default;
    &.in-stock {
        background-color: @green;
    }
    &.out-stock {
        background-color: @red;
    }
}

// Custom scroll bar
.custom-scroll {
    &::-webkit-scrollbar {
        width: 10px;
	    background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	    background-color: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #F90;	
        background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
                                                transparent 25%,
                                                transparent 50%,
                                                rgba(255, 255, 255, .2) 50%,
                                                rgba(255, 255, 255, .2) 75%,
                                                transparent 75%,
                                                transparent)
    }
}