/*
 *
 * Footer css
 *
*/ 

footer {
    background-image: url('../images/ft-bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 15px 0;
}

.ft-col {
    padding-top: 50px;
    &.col-md-3, &.col-md-2 {
        // width: 20%;
        // flex: 0 0 20%;
        // max-width: 20%;
    }
    h3 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
    }
}
.logo-ft {
    .ft-logo-btn {
        display: inline-block;
        margin-bottom: 30px;
    }
    p{
        color: #fff;
        .ttl {
            display: inline-block;
            width: 140px;
            font-weight: 600;
        }
        a{
            color: @blue;
            text-decoration: underline;
        }
    }
}

.ft-menu {
    h3 {
        margin-top: 58px;
    }
    ul {
        li {
            a {
                display: inline-block;
                padding: 8px 0px;
                color: #f5f5f5;
                &:hover {
                    color: @blue;
                }
            }
        }
    }
}

.copyright {
    padding: 20px;
    background-color: #222222;
    p {
        margin-bottom: 0;
        color: #fff;
        display: inline-block;
        a {
            color: @green;
            font-size: 18px;
            font-weight: 600;
            margin-left: 3px;
        }
    }
    span {
        color: #fff;
        font-weight: 600;
        float: right;
    }
}


.social-link{
    margin-bottom: 30px;
    a {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        color: #444;
        background-color: @grey;
        margin-right:15px;
        margin-bottom: 15px;
        padding: 0 15px;
        border-radius: 3px;
        .transition(all .3s ease);
        &:hover {
            background-color: @blue;
            color: #fff;
        }
        i {
            margin-right: 10px;
            font-size: 18px;
        }
    }
}


// Compare popup
.fix-popup {
    position: fixed;
    width: 45px;
    height: 45px;
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    line-height: 48px;
    display: none;
    a {
        display: block;
        color: #fff;
        position: relative;
        .fa {
            font-size: 20px;
        }
        span {
            position: absolute;
            top: -5px;
            left: -5px;
            border-radius: 100%;
            font-size: 12px;
            font-weight: 600;
            background-color: @red;
            width: 20px;
            height: 20px;
            line-height: 20px;
        }
    }
}

.scroll-top {
    position: fixed;
    display: none;
    cursor: pointer;
    bottom: 100px;
    right: 60px;
    width: 45px;
    height: 45px;
    border:1px solid #EE5838;
    color: #EE5838;
    font-size: 24px;
    z-index: 500;
    i {
        position: relative;
        z-index: 100;
    }
    .scroll-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        &:before {
            z-index: 50;
            width: 38px;
            height: 38px;
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translate(-50%, -50%));
            border: 1px solid #EE5838;
        }
    }
    &:hover {
        color: #fff;
        .scroll-inner {
            &:before {
                background-color: #EE5838;
            }
        }
    }
}
.compare-popup {
    top: 300px;
    background-color: @green;
}


.wish-popup {
    top: 360px;
    background-color: @red;
}

.cart-popup {
    top: 420px;
    background-color: @blue;
}