/*
 * Header css
 *
*/

header {
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    position: relative;
    [class*=' col-'] {
        position: static;
    }
}

.top-header{
    height: 65px;
}

// Logo
.logo-blk {
    >a{
        line-height: 65px;
        display: inline-block;
    }
}

// Main menu
.main-menu-blk {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.main-menu {
    display: inline-block;
    .dropdown-btn {
        line-height: 65px;
        display: inline-block;
        color: @green;
        i {
            margin-right: 8px;
        }
        span {
            font-weight: 600;
        }
    }
    &:hover {
        .menu-content {
            display: block;
        }
    }
}

.menu-content{
    position: absolute;
    z-index: 300;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    width: 250px;
    top: 65px;
    left: -5px;
    border-top: 1px solid #e8e9eb;
    display: none;
}

.menu-inner{
    position: relative;
}

.menu-itm {
    display: block;
    padding: 15px 15px 15px 50px;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-position-x: 15px;
    position: relative;
    &:hover{
        background-color: rgba(20,23,28,.09);
        span {
            color: @green;
        }
    }
    i{
        position: absolute;
        top: 50%;
        right: 15px;
        .transform(translateY(-50%));
    }
    &.mainboard {
        background-image: url('../images/icons/motherboard.png');
    }
    &.pc {
        background-image: url('../images/icons/pc.png');
    }
    &.camera {
        background-image: url('../images/icons/camera.png');
    }
    &.game-gear {
        background-image: url('../images/icons/game-console.png');
    }
    &.cooling {
        background-image: url('../images/icons/cooler.png');
    }
    &.network {
        background-image: url('../images/icons/router.png');
    }
    &.office {
        background-image: url('../images/icons/printer.png');
    }
}

.menu-list {
    >li {
        &:hover {
            .sub-menu {
                display: block;
            }
        }
    }
}

.sub-menu {
    position: absolute;
    left: 250px;
    top: 0;
    width: 1000px;
    min-height: 365px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e8e9eb;
    z-index: 500;
    display: none;
    .sub-itm {
        float: left;
        margin-bottom: 15px;
        &.s-col-5 {
            width: 20%;
        }
        &.s-col-4 {
            width: 25%;
        }
        p {
            cursor: default;
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
            color: @green;
        }
    }

    .sub-list {
        a {
            display: inline-block;
            padding: 5px 0;
            &:hover {
                color: @green;
            }
        }
    }
}


// Right menu
.right-menu {
    text-align: right;
    ul {
        padding: 10px 0;
        li {
            display: inline-block;
            position: relative;
            >a {
                height: 45px;
                line-height: 45px;
                display: inline-block;
                margin-left: 20px;
            }
            &:hover {
                .sub-cart {
                    display: block;
                }
            }
            &:first-child {
                >a {
                    margin-left: 0;
                }
            }
        }
    }
}

.login-btn, .regis-btn {
    padding: 0 15px;
    border-radius: 3px;
    color: #fff;
}

.login-btn {
    background-color: @blue;
    &:hover {
        color: #fff;
        background-color: darken(@blue, 10%);
    }
}

.regis-btn {
    background-color: @yell_green;
    &:hover {
        color: #fff;
        background-color: darken(@yell_green, 10%);
    }
}

.build-pc-btn {
    border-radius: 3px;
    padding: 0 5px;
    font-weight: 600;
    .transition(all .4s ease);
    &:hover {
        color: @green;
    }
}

.compare-btn, .cart-btn {
    border-radius: 100%;
    background-color: rgba(20,23,28,.05);
    text-align: center;
    width: 45px;
    height: 45px;
    &:hover {
        background-color: rgba(20,23,28,.09);
    }
    i {
        font-size: 18px;
    }
    span {
        position: absolute;
        border-radius: 100%;
        background-color: @red;
        color: #fff;
        width: 20px;
        height: 20px;
        display: block;
        top: 0px;
        right: -8px;
        line-height: 20px;
        font-size: 12px;
    }
}

// Search blk
.search-blk {
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    padding: 13px 30px 15px 30px;
    display: none;
    &.shw {
        display: block;
    }
    .search-frm {
        position: relative;
        input {
            display: block;
            width: 100%;
            padding: 8px 15px;
            border: none;
            font-weight: 600;
            font-size: 16px;
        }
        .close-search {
            position: absolute;
            display: block;
            width: 42px;
            height: 42px;
            top: 0px;
            right: 0px;
            outline: none;
            font-size: 18px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}


// Mobile btn
.right-mobile-btn {
    float: right;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: 45px;
    background-image: url('../images/user-blue.png');
    margin-top: 10px;
    display: none;
}