.camera-arrival-prod-tab
    .prod-slider.owl-carousel#camera-arrival-prod-slide
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .km-block
                        p.has-gift
                            i.fa.fa-gift
                            span Quà tặng
                    .prod-img
                        img(src="uploads/products/prod-1.jpg", alt="RAM GSkill Trident Z RGB 16GB Bus 3000 (2x8GB)", title="RAM GSkill Trident Z RGB 16GB Bus 3000 (2x8GB)")
                    .prod-capt
                        h3 RAM GSkill Trident Z RGB 16GB Bus 3000 (2x8GB)
                        p.price 5,590,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .km-block
                        p.has-increase
                            i.fa.fa-dollar-sign
                            span Giảm 10%
                    .prod-img
                        img(src="uploads/products/prod-16.jpg", alt="Alienware 24.5\" AW2518HF FHD 240Hz 1ms FreeSync Gaming Monitor", title="Alienware 24.5\" AW2518HF FHD 240Hz 1ms FreeSync Gaming Monitor")
                    .prod-capt
                        h3 Alienware 24.5" AW2518HF FHD 240Hz 1ms FreeSync Gaming Monitor
                        p.price.price-down
                            span.old 10,990,000đ
                            span.new 9,891,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/prod-3.jpg", alt="Asus Z270 MAXIMUS IX CODE - LGA 1151", title="Asus Z270 MAXIMUS IX CODE - LGA 1151")
                    .prod-capt
                        h3 Asus Z270 MAXIMUS IX CODE - LGA 1151
                        p.price 6,700,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/prod-4.png", alt="Corsair Crystal Series 570X RGB Tempered Glass ATX Case - Blue", title="Corsair Crystal Series 570X RGB Tempered Glass ATX Case - Blue")
                    .prod-capt
                        h3 Corsair Crystal Series 570X RGB Tempered Glass ATX Case - Blue
                        p.price 4,900,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/prod-5.png", alt="Camera Dahua HAC-HDW1200EMP", title="Camera Dahua HAC-HDW1200EMP")
                    .prod-capt
                        h3 Camera Dahua HAC-HDW1200EMP
                        p.price 1,249,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/prod-6.jpg", alt="HDD Western Purple 1TB/5400 Sata 3 64Mb", title="HDD Western Purple 1TB/5400 Sata 3 64Mb")
                    .prod-capt
                        h3 HDD Western Purple 1TB/5400 Sata 3 64Mb
                        p.price 1,489,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/prod-7.jpg", alt="Camera thân HikVision Dome TVI HIK-HD91F8T3", title="Camera thân HikVision Dome TVI HIK-HD91F8T3")
                    .prod-capt
                        h3 Camera thân HikVision Dome TVI HIK-HD91F8T3
                        p.price 1,900,000đ
        // END: Product item
        .prod-itm
            a(href="#")
                
                .prod-itm-ct
                    .prod-func
                        button.add-wish
                            i.fa.fa-heart
                        button.add-compare
                            i.fa.fa-exchange
                        button.add-cart
                            i.fa.fa-shopping-cart
                    .prod-img
                        img(src="uploads/products/prod-8.jpg", alt="Razer BlackWidow Ultimate 2016", title="Razer BlackWidow Ultimate 2016")
                    .prod-capt
                        h3 Razer BlackWidow Ultimate 2016
                        p.price 2,260,000đ
        // END: Product item