/*
 *
 * Cart page css
 *
*/ 

.cart-content {
    margin-bottom: 50px;
}

.cart-table {
    .cart-img {
        width: 150px;
        margin-right: 20px;
    }
    .prod-name {
        display: inline-block;
        font-size: 18px;
        // font-weight: 400;
    }

    .price-prod {
        font-size: 16px;
        margin-bottom: 0;
    }

    .quantity-ipt {
        display: block;
        width: 100px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-weight: 600;
        padding: 8px 10px;
        font-size: 16px;
        margin: 0 auto;
        &:focus {
            border-color: @blue;
        }
    }
    .del-cart-itm {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        color: #b3b2b2;
        .transition(all .4s ease);
        &:hover {
            color: @red;
        }
    }
    .prod-detail {
        display: block;
        margin: 0;
    }
}

.table {
    thead {
        th {
            font-size: 17px;
        }
    }
    td {
        vertical-align: middle;
    }
}

.cart-ft {
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    .btn {
        float: right;
    }
}
.update-cart {
    display: block;
    outline: none;
    color: #fff;
    background-color: @blue;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    .transition(all .4s ease);
    font-size: 16px;
    float: right;
    outline: none;
    &:focus, &.active {
        outline: none;
    }
    &:hover {
        background-color: darken(@blue, 10%);
    }
}

.coupon-code {
    float: left;
    position: relative;
    input {
        display: inline-block;
        width: 250px;
        padding: 10px;
        border: 1px solid #ddd;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-weight: 600;
        border-right: none;
    }
    button {
        display: inline-block;
        padding: 9px 15px 10px 15px;
        text-align: center;
        color: #fff;
        background-color: @blue;
        font-size: 16px;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-left: -3px;
        outline: none;
        .transition(all .4s ease);
        cursor: pointer;
        &:hover {
            background-color: darken(@blue, 10%);
        }
    }
}

.cart-total {
    width: 50%;
    float: right;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 25px;
    .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #b3b2b2;
    }
    p {
        font-size: 16px;
        .ttl {
            display: inline-block;
            font-weight: 600;
        }
        .val {
            float: right;
        }
    }
    .total-price {
        padding-top: 10px;
        border-top: 1px solid #b3b2b2;
        border-bottom: 1px solid #b3b2b2;
        padding-bottom: 10px;
    }
}

.cart-button {
    a {
        &.continue-shop {
            float: left;
        }
        &.checkout {
            float: right;
        }
    }
}


// Wishlist
.wish-tb {
    .wish-img {
        width: 150px;
        margin-right: 20px;
    }
    .wish-name {
        display: inline-block;
        font-size: 18px;
    }
    .price-prod {
        .old-price {
            text-decoration: line-through;
            color: #bbb;
        }
        .new-price {
            font-size: 16px;
            font-weight: 600;
            display: inline-block;
            margin-left: 15px;
        }
    }
    .btn {
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

.share-list {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 25px;
    strong {
        font-size: 18px;
        display: inline-block;
        margin-right: 10px;
    }
    .share-itm {
        display: inline-block;
        font-size: 20px;
        color: @green;
        margin-right: 20px;
    }
}